[2020-09-23 06:11] PragatiVerma18 opened #9 "Add Readme"

[2020-09-23 06:14] PragatiVerma18 commented on #9
Read more here: https://dev.to/digitalocean/hacktoberfest-contributor-s-guide-how-to-find-and-contribute-to-open-source-projects-447h

[2020-09-23 06:22] PragatiVerma18 opened #10 "Add Code of Conduct"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-23 06:58] PragatiVerma18 opened #11 "Add contributing guidelines"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-09-25 19:18] PragatiVerma18 commented on #11
Done

[2020-09-25 19:20] #9 closed

[2020-09-25 19:20] #10 closed

[2020-09-25 19:20] #11 closed

[2020-09-26 06:57] naman360 opened #13 "Make it responsive for mobile and tablet devices"
**Describe the bug**
Website becomes mess between medium to x-small devices

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fossevents.netlify.app .
2. Resize screen to 767 px and less
3. See error

**Expected behavior**
1. Cards should be aligned properly and not overflow out of the screen.
2. Footer should not merge with cards.

**Screenshots**
![Screenshot from 2020-09-26 12

[2020-09-26 07:26] Manoj13-coder commented on #13
I would Love to work on this issue and make it responsive to mobile phones or laptops .

[2020-09-26 08:29] hariom1625 commented on #13
Hey, Can I start working on this?

[2020-09-26 08:32] PragatiVerma18 commented on #13
Hi, @hariom1625!!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-26 08:37] hariom1625 commented on #13
Sure!! Thanks :-)

[2020-09-26 17:28] Abu-Talha-24 commented on #13
Hey !  Could you assign this issue to me ! I'd be happy to work on this and leverage my skills

[2020-09-26 18:22] PragatiVerma18 commented on #13
Hi @Abu-Talha-24 !! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-27 05:10] naman360 opened #14 "Transition on hovering card"
**Describe the bug**
Card scales to smaller size when hovered with a transition , and when cursor is removed from the card it scales back to its original size without a transition which kinda looks odd.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ' https://fossevents.netlify.app/ '
2. Hover on any card.
3. See error

**Expected behavior**
Same transition should appear when hovering

[2020-09-27 05:14] naman360 opened #15 "Implement Pagination."
**Is your feature request related to a problem? Please describe.**
Contributors will add events card which will lead to many cards on a single page which is less manageable.

**Describe the solution you'd like**
Implement pagination with 10-12 cards on a page.

[2020-09-27 05:17] naman360 opened #16 "Search/Filter feature"
**Is your feature request related to a problem? Please describe.**
Website will contain many events , so it would be difficult to find a particular event.

**Describe the solution you'd like**
Implement a search/filter feature on the basis of name of the event.

[2020-09-27 05:38] gokulkannan7 commented on #14
sir, I would love to work on this issue, can u assign it to me?

[2020-09-27 05:40] naman360 commented on #14
Hi, @gokulkannan7 !!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020. See you then! Keep Learning :octocat:

[2020-09-27 07:00] gokulkannan7 commented on #14
Yaa sure sir, thank you!!

[2020-09-27 12:49] servermonk opened #17 "Implement Update Route"
**Is your feature request related to a problem? Please describe.**
Contributors will add update route for the event

**Describe the solution you'd like**
The route will be as follows;
 - Path- "/event/:title"
 - Method- Update
 - Details- Users will be able to update a particular Event title, Event Date, Website and other details using this route

[2020-09-27 12:52] servermonk opened #18 "Implement Delete Route"
**Is your feature request related to a problem? Please describe.**
Contributors will add a delete route for the event

**Describe the solution you'd like**
The route will be as follows;
 - Path- "/event/:title"
 - Method- Delete
 - Details- Users will be able to delete a particular event using this route

[2020-09-27 13:19] servermonk opened #19 "Set Expiraiton time of JWT token"
**Describe the bug**
Set expiration time of JWT token to 15mins

**To Reproduce**
Steps to reproduce the behavior:
In Postman:
1. Generate JWT token by going to the path - "/users/login"
2. Notice that the generated JWT token never expires

**Expected behavior**
Set the expiration time of JWT token to 15 mins. After 15 mins, the token should expire and the user should not be able to access the pro

[2020-09-27 14:00] rishavjaiss commented on #18
Hi, I can take this up if you can share with me the file in which the change needs to be done or, the route is to set up from scratch?. I can't see any existing backend files in this repo.

[2020-09-27 14:21] servermonk commented on #18
Hi, @rishavjaiss  !!! We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020, till then Star and Fork this repo. See you then! Keep Learning..
Also FYI, all the backend-related files are in [backend](https://github.com/DSC-JSS-NOIDA/foss-events/tree/backend) branch. So, you might want to ch

[2020-09-27 14:23] rishavjaiss commented on #18
Gotcha. Yes, I'll making pr in the month of October if you assign this to me.

[2020-09-27 14:50] MukulTan10 commented on #19
hey, i am very new to this language , and open source as well, i would love to see this issue and figure if i can solve it ot not, can i do that ? and can you help me a little more in understanding same?

[2020-09-27 17:24] Manoj13-coder commented on #16
I like to contribute in it but please can you tell me from where i get the list of names of events?

[2020-09-28 05:47] naman360 commented on #16
Hey @Manoj13-coder !! We are glad that you want to contribute to this project , but we would advise you to start contributing from 1st October to make it count under Hacktoberfest 2020. Till then fork :fork_and_knife:  and star :star2:  this repository. :octocat:

[2020-09-28 06:17] Manoj13-coder commented on #16
yes of course but can you tell me about list of events ?

On Mon, 28 Sep 2020, 11:18 Naman Shankhydhar, <notifications@github.com>
wrote:

[2020-09-28 06:22] skamp91 commented on #14
Hey :) Can I also work on this? or isn't is possible?
GoodRegards

[2020-09-28 06:24] naman360 commented on #16
Contributors need to add event on there own.

[2020-09-28 06:27] naman360 commented on #14
https://github.com/DSC-JSS-NOIDA/foss-events/issues/14#issuecomment-699589031

[2020-09-28 06:28] Manoj13-coder commented on #16
ok
On Mon, 28 Sep 2020, 11:54 Naman Shankhydhar, <notifications@github.com>
wrote:

[2020-09-28 06:41] servermonk commented on #19
Hey @MukulTan10  !! We are glad that you want to contribute to this project , but we would advise you to start contributing from 1st October to make it count under Hacktoberfest 2020. Till then fork 🍴 and star 🌟 this repository.
Check out the  readme of this Repo if you have any doubts related to Backend Structure and Code

[2020-09-28 07:44] mohitn787 commented on #16
Hey @naman360 I would love to contribute to your project can just elaborate about the features that you are looking for.

[2020-09-28 08:19] ventodeco commented on #14
so we can contribute it and make pr, without assign it to us sir?

[2020-09-28 08:42] Manoj13-coder commented on #16
i will PR it on october 1st

[2020-09-28 10:55] PragatiVerma18 commented on #14
@ventodeco contribute and make a PR only when we have assigned the issue to you.  We're glad that you want to contribute to this project but we would advise that start contributing from 1st October so as to make it count under Hacktoberfest 2020, till then Star and Fork this repo. See you then! Keep Learning :octocat:

[2020-09-28 11:08] PragatiVerma18 opened #20 "Welcome to DSC HackFest 2020"
Hello, Everyone ✨🙌

Thanks for showing your interest in being a part of the **DSC HackFest'2020** 💥

We are super delighted to have you onboard on **Foss Events Website** 🙌

Here are the Mentors for the Project:

| Name :technologist:   |      Social Media :globe_with_meridians:  |  Github :octocat:  |
|----------|:-------------:|------:|
| Naman Shankhydhar | [LinkedIn](https://www.linkedin.com/i

[2020-09-28 14:55] chinmaikaveti2001 commented on #13
Hi! can u pls assign this issue to me...?  I'm  an absolute beginner to open source contribution. can u pls  let me know the way to work on this issue..?

[2020-09-28 14:57] naman360 commented on #13
https://github.com/DSC-JSS-NOIDA/foss-events/issues/13#issuecomment-699530550

[2020-09-29 10:49] chinmaikaveti2001 commented on #15
hi!  sir.. can u pls assign  this  issue to me..?
I want to work on this issue....

[2020-09-30 13:47] hariom1625 commented on #19
Hey @servermonk, I understood your concern I would like to work on this issue.

[2020-09-30 14:03] servermonk opened #21 "Hacktober Fest Live Session"
Ready with your suitcase 💼, packed your bags 🎒, and all set to begin this exciting open-source journey!
Wait, but are you still confused 😵 about which route to follow?
*Don't worry, we've got your back.*

*DSC JSS* brings you a 😃*live* hands-on session to give you a detailed 🗺 roadmap about this Hacktober trip!
 Join us to get a full explanation about all your milestones by your own mentors.
*What

[2020-09-30 18:33] servermonk commented on #19
Sure @hariom1625, All the Best and Happy Hacktober!!

[2020-09-30 20:02] servermonk commented on #18
hey @rishavjaiss I have assigned this task to you, so you could start working on it. All the best!!

[2020-09-30 20:23] Sudhee-bsp commented on #17
I would like to work on it. Please add me as an Assignee :) @PragatiVerma18

[2020-09-30 20:42] servermonk commented on #17
hey @Sudhee-bsp I have assigned this issue to you. All the best!!

[2020-10-01 04:42] naman360 opened #26 "Create a logo for Foss-Events"
**Is your feature request related to a problem? Please describe.**
We currently don't have a logo, so we would love if contributors design a logo for the website.

**Additional context**
Logo should be made/design by contributors, we would know if it is copied.

[2020-10-01 04:43] naman360 opened #27 "Create a new UI for website"
**Is your feature request related to a problem? Please describe.**
The website has a basic structure and UI, we want contributors to design a new UI that would make website look professional.

[2020-10-01 04:45] Dheeraj-01 commented on #27
Hi, can you assign me to this? Thanks :) 😊

[2020-10-01 04:56] naman360 commented on #27
yaa sure, go ahead!

[2020-10-01 05:01] Dheeraj-01 commented on #27
should I use a bootstrap framework or not for UI?

[2020-10-01 05:07] naman360 commented on #27
Yes use anything you want to.

[2020-10-01 05:31] anonymous-31 commented on #26
I would like to design it and do my best!!

[2020-10-01 05:44] servermonk opened #29 "Implement Logout Route"
**Is your feature request related to a problem? Please describe.**
Implement a working logout route

**Describe the solution you'd like**
On going to the logout route, the JWT token should be destroyed and the user would not be able to access protected routes.
The route should be: '/users/logout'. You could make a new file named `logout.js` in the `users` folder and implement logout route there

[2020-10-01 05:53] ruddha2001 commented on #29
Hello. I would like to take up this issue.

My proposed solution is to use a "blocklist" approach.
I plan to add an `expiresIn` property to the token during the creation. And will have a blocklist maintained in the cache with TTL equal to `expiresIn`. This will mean after a user logout, the JWT will become useless and cannot be used to access any route.

[2020-10-01 06:02] OmkarPh commented on #29
That's a great idea @ruddha2001, I was thinking something similar too

If because of some reason, you stop working on it, let me know, otherwise your contribution is appreciated 👍
Can you explain that "Blocklist" phrase specifically, I didn't get that specifically.

[2020-10-01 06:08] OmkarPh commented on #20
hi there, I don't know about this DSC hackfest, could you share me any link or booklet regarding the event, I am eager to participate in such events

[2020-10-01 06:12] ruddha2001 commented on #29
Hello @OmkarPh. The concept is really simple.

Destroying JWT makes little sense when we are looking at the server. JWT is just a string which the client(s) use(s) to prove their validity. A valid JWT will stay valid (until it expires).

So some of the popular approaches to handle this are to use Key-Pair value storage or use a Blocklist.

In a blocklist, you maintain a list of JWTs that are debar

[2020-10-01 06:18] OmkarPh commented on #29
Oh I got it, I use a different approach.

I maintain a list of **valid** tokens which is limited to 3 or 5.
Whenever a user signs up or logs in, a new token is added to the valid tokens list. When logout is trigerred, that token is removed from that list,
In short I validate token as well as check if it exists in this list, if it's not in the list, it's considered unauthenticated.

I use this appr

[2020-10-01 06:24] servermonk commented on #29
hey @ruddha2001, that's a great solution, just to let you know, we have already got the PR on [#19](https://github.com/DSC-JSS-NOIDA/foss-events/issues/19). So you don't need to add expiration time

[2020-10-01 06:25] ruddha2001 commented on #29
Hello, @servermonk I will not be adding the expiry time but will use the same in my TTL.
If that is fine, can work on this?

[2020-10-01 06:27] servermonk commented on #29
sure @ruddha2001, I have assigned this issue to you. All the Best!!

[2020-10-01 06:42] ShashankRawatgit92 commented on #26
i have previous experience in making logos pls gassihn thsi to me

[2020-10-01 06:44] #19 closed

[2020-10-01 07:25] Manoj13-coder commented on #16
i have to make changes in foss-events/Frontend/data/events.json ?

[2020-10-01 08:38] #18 closed

[2020-10-01 08:46] abhudaym commented on #13
Hey! Has this issue been resolved? If not, I'd love to work on it!

[2020-10-01 08:53] naman360 commented on #26
Go ahead , best logo will be used in the website.

[2020-10-01 14:47] aadij6401 commented on #17
I want to work on it Plz assign to me @PragatiVerma18 @diyajaiswal11 @servermonk

[2020-10-01 17:33] paarth17032000 commented on #16
Hi @naman360 I would like to help you with the issue

[2020-10-01 17:38] naman360 commented on #16
@paarth17032000 If @Manoj13-coder is unable to do it then you can go on with it.

[2020-10-01 17:38] naman360 commented on #16
@Manoj13-coder You simply need to implement search feature on events that are added from events.json

[2020-10-01 17:54] #29 closed

[2020-10-01 19:01] paarth17032000 commented on #16
@naman360 I have made a PR regarding the issue, please review it.

[2020-10-01 19:10] aadij6401 commented on #17
please reply guys I am eagerly waiting for contribution...

[2020-10-01 19:11] aadij6401 commented on #17
Please add me as assignee!

[2020-10-01 19:15] servermonk commented on #17
hey @atishaya11 sorry for the late reply. We are glad to hear that you want to contribute to this project but unfortunately this issue has already been assigned to @Sudhee-bsp . If he decides not to work on it then we will assign it to you. Meanwhile you could check other issues also we would add few more issues soon.

[2020-10-01 19:53] servermonk commented on #17
hey @aadij6401 , sorry for the late reply. We are glad that you want to contribute to our project but unfortunately this task is already assigned to @Sudhee-bsp , if he decides to not work on it then we will assign this issue to you. Meanwhile you could check out other issues, also we would adding more issues .

[2020-10-02 04:19] naman360 commented on #16
@Manoj13-coder you still working on it, @paarth17032000 has made a valid working PR which looks good to me and I am merging it.

[2020-10-02 04:28] Manoj13-coder commented on #16
ok merge it sorry for my delay

On Fri, 2 Oct 2020, 09:49 Naman Shankhydhar, <notifications@github.com>
wrote:

[2020-10-02 07:16] naman360 commented on #14
@gokulkannan7 update?

[2020-10-02 08:42] gitaalekhyapaul commented on #15
@naman360 I would like to work on the backend for pagination

[2020-10-02 09:26] Sudhee-bsp commented on #17
hey @servermonk , I have made PR adding the Event Update endpoint, and also reference screenshots. Please let me know any furthur changes. Thanks :)

[2020-10-02 11:02] aadij6401 commented on #16
@servermonk Is the issue still open?
If yes then I would love to contribute.

[2020-10-02 16:52] naman360 commented on #15
@gitaalekhyapaul there is no need to work on backend for pagination.

[2020-10-02 16:52] naman360 commented on #15
@chinmaikaveti2001 status?

[2020-10-02 17:36] chinmaikaveti2001 commented on #15
working on it ....@naman360

[2020-10-03 11:52] me-harshit commented on #14
Hey! If this issue hasn't been resolved, I'd like to work on it!   : )

[2020-10-03 18:25] servermonk opened #46 "Test Issue"
This is a test issue, ignore it

[2020-10-03 18:46] pallavithakare28 commented on #27
@naman360 I would like to work on this issue.

[2020-10-03 22:23] gitaalekhyapaul commented on #46
@servermonk I can write up integration tests in Mocha and Chai for Backend in Node.

[2020-10-04 03:48] naman360 commented on #27
@pallavithakare28 go ahead

[2020-10-04 03:49] naman360 commented on #14
@me-harshit Go ahead

[2020-10-04 03:59] naman360 commented on #13
Fixed by #37

[2020-10-04 03:59] #13 closed

[2020-10-04 04:41] naman360 opened #48 "varying card heights."
**Describe the bug**
All cards have different heights.

**Expected behavior**
All cards should be of same height.

**Screenshots**
![Screenshot from 2020-10-04 10-11-35](https://user-images.githubusercontent.com/40193621/95007161-0b206e80-062a-11eb-84b4-d89ba2319f5b.png)

**Desktop (please complete the following information):**
 - OS: all
 - Browser all
 - Version all

**Smartphone (please complet

[2020-10-04 04:48] Atimabh commented on #48
Hey @naman360 I would like to work on this, please assign it to me.

[2020-10-04 05:51] servermonk commented on #46
hi @gitaalekhyapaul , this issue is just for testing purposes please ignore it

[2020-10-04 06:13] #46 closed

[2020-10-04 09:28] naman360 commented on #16
Fixed by #41

[2020-10-04 09:28] #16 closed

[2020-10-04 18:07] pallavithakare28 commented on #27
@naman360 Thank you and I'll soon make a PR.

[2020-10-05 04:08] naman360 commented on #14
Fixed.

[2020-10-05 04:08] #14 closed

[2020-10-05 06:31] #17 closed

[2020-10-05 16:05] #48 closed

[2020-10-05 16:17] naman360 opened #51 "Setup live-server as dev-dependency"
**Is your feature request related to a problem? Please describe.**
For running the website on live-server we need to globally install `live-server`.

**Describe the solution you'd like**
Setup `package.json` and add `live-server` as development dependency, so that when we run `npm install` `live server` gets installed as dependency for `foss-events` directory (not globally).

**Describe alternativ

[2020-10-06 04:18] naman360 commented on #15
@chinmaikaveti2001 status?

[2020-10-06 04:20] heysujal commented on #51
@naman360  I would like to work on it.

[2020-10-06 04:21] naman360 commented on #51
Do you have an alternative or you'll use the listed way?

[2020-10-06 04:25] heysujal commented on #51
I will be using the listed one

[2020-10-06 04:32] naman360 commented on #51
Go ahead!

[2020-10-06 17:12] ChiragBolakani commented on #27
Hey, can I work on this I can work with a few UI components. @naman360

[2020-10-10 11:24] Shruti3004 commented on #51
@naman360 I would like to work on it

[2020-10-10 11:25] naman360 commented on #51
@Shruti3004 Go ahead!

[2020-10-12 09:09] #51 closed

[2020-12-06 15:00] #21 closed

[2020-12-07 07:40] #20 closed

[2020-12-10 16:23] #26 closed

[2020-12-12 05:17] #15 closed

[2020-12-12 18:43] #27 closed

[2021-02-20 20:20] sidmohanty11 opened #62 "Is there any changes you would like to make?"
I want to contribute but I don't know what changes you would like me to make. Can you suggest?

###EVENT
GSSOC

[2021-02-23 09:42] aniketsingh98571 opened #63 "Adding more open source events"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Addition of GSSoC, GSoC, MLH fellowship to the foss website

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-02-23 09:44] aniketsingh98571 commented on #63
@PragatiVerma18 @servermonk , Can I move ahead with this issue for GSSoC 2021?

[2021-02-23 10:42] IdealisticINTJ commented on #63
Can I go ahead and contribute to this issue for GSSoC '21?

[2021-02-24 12:13] yashsehgal commented on #63
Also, What we can do is. We can use APIs of websites like Meetup, Insider and give users, real-time event updates.
What do you think?

[2021-02-24 12:39] krishantraj commented on #63
can i contribute in it as a part of GSSoC 2021? i have made a pr though as directed for this issue.

[2021-02-24 12:53] aniketsingh98571 commented on #63
this is not a good practice for open source contribution, you must wait for the issues to assign it to you.

[2021-02-24 12:58] krishantraj commented on #63
oh I'm really sorry for that , this is  my first pr un aware of the actual procedure, i will keep this in mind in future. will be glad if u can guide me further.

[2021-02-25 08:41] Dev-anuj commented on #63
Even am a beginner, for example, there is 4 issues and he assigned 4 issues to 4 people what others can do then?
and what we have to do so they can assign the issue to us only

[2021-02-28 09:49] A7abhilash opened #66 "Revamp the project using React JS"
**Is your feature request related to a problem? Please describe.**
*As this a pure static site with just outputting the data from events.json file, I could see alot of js code written that manipulates the dom. Also the styling for cards has the property cursor: pointer, but has no onclick event assigned.*

**Describe the solution you'd like**
*I would like to build the same project using React and

[2021-03-01 14:43] yashikabhargava commented on #63
Can I go ahead and contribute to this issue as a part of GSSoC '21?

[2021-03-01 19:55] maanpatel2492 commented on #63
Okay,If issue assigned to me can I add more than one ?

[2021-03-02 09:26] vismitap commented on #63
May I work on this as a part of GSSoC'21 ?

[2021-03-03 04:32] naman360 commented on #66
Leave the revamp part but you can go ahead with features listed in additional context.

[2021-03-03 04:34] naman360 commented on #63
You can create PR on this issue without getting assigned as any user can add as many distinct OSS programmes as possible.

[2021-03-05 07:20] A7abhilash commented on #66
@naman360 The code using vanilla JavaScript would be large for authentication, authorization, redirecting and can be difficult also but it can be done easing using React JS... Also the revamping wouldn't take much time because I've good experience in it and once I get started then we can definitely go ahead with the features mentioned...
If you still insist me to go ahead without revamping then it

[2021-03-05 08:30] naman360 commented on #66
That is not a priority right now, may plan it afterwards but you can go with removing the cards dynamically if the end date is over.

[2021-03-05 09:11] A7abhilash commented on #66
@naman360 Okay!!!
But can I change the date to either of the following format??
*Option 1: Fri Mar 05 2021 (Day Month Date Year)*
*Option 2: 03/05/2021 (Month/Day/Year)*
so that it would be easy to manipulate the date in JavaScript

[2021-03-05 09:56] anirudhsai20 opened #68 "README.md file enhancement"
The README.md file can be enhanced by adding the list of all the open source programs that it is a part of and also its list of contributors.

[2021-03-05 09:56] anirudhsai20 commented on #68
Hi! Please allow me to work on this issue under GSSOC.

[2021-03-05 17:32] Meghna180401 opened #70 "Enhancing the Navbar style."
**Is your feature request related to a problem? Please describe.**
_I feel the Navbar should be have a little different CSS styling since the Navbar and the name of the site 'FossEvents' is becoming out of focus as compared to the main container body._

**Describe the solution you'd like**
_I would like to implement the following changes to the Navbar using Bootstrap:
    1. Changing the font styl

[2021-03-06 22:37] vieee opened #71 "Centralize All Events On the Main Page"
The Events look quite sidelined when viewed on a normal PC.
![Screenshot_2021-03-07 Foss Events](https://user-images.githubusercontent.com/47855729/110222764-a0d26980-7efa-11eb-8026-c3d3acd51106.png)

This can be rectified by centralizing them for adequate viewing on all screens (particularly those with high width)

[2021-03-07 07:25] flyingsonu122 opened #72 "links are broken of events' more info"
**Describe the bug**
links are broken of events' more info on the frontend website

**Additional context**
I can solve it

[2021-03-07 13:45] vkassingh commented on #70
i am interested to contribute in the foss event project. can you please share discord server or similar for further discussion?

[2021-03-08 12:39] Manas502 commented on #70
Hey! I'd love to work/collaborate on this issue. Can you please guide me further?

[2021-03-08 12:43] heyankit78 opened #73 "Creating a landing page"
It enhances UI/UX

[2021-03-08 12:55] gaurav24072002 commented on #63
Hey !! I have a list of open source programs should I add them ... and yes I am Interested in this issue Please assign it to me under GSSOC '21.

[2021-03-08 13:39] janvi01 commented on #63
GSSOC '21
Want to add some more open-source program, Glad if it will be assigned to me.

[2021-03-08 14:07] ritesh1731 commented on #71
I would like to contribute to this issue under GSSOC.

[2021-03-08 14:37] satcasm opened #74 "2 links on home page are broken"
**Describe the bug**
2 ``More Info`` links are broken , it seems that there is a typo in the links.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fossevents.netlify.app/
2. Click on ``More Info`` on GIRLSCRIPT SUMMER OF CODE and Google Summer of Code
3. See error

**Expected behavior**
It should lead to the correct destination.

**Screenshots**
![image](https://user-images.gi

[2021-03-08 15:02] robin025 commented on #74
i would like to work on this issue

[2021-03-08 15:07] avinashjha1320 commented on #70
GSSoC'21
I wanted to fix this issue...can you please assign me this issue?

[2021-03-08 15:08] avinashjha1320 commented on #71
Hey..I would like to contribute to this issue for GSSoC'21. Can you please assign it to me.

[2021-03-08 15:10] avinashjha1320 commented on #73
GSSoC'21
Hey, I have a good experience in UI. Can I contribute to this in GSSoC'21?

[2021-03-08 15:11] avinashjha1320 commented on #74
GSSoC'21
I would like to work on it for GSSoC'21. Can you please assign it to me?

[2021-03-08 15:16] padmajabhol commented on #63
Hey, I want to add more open source program. Are we supposed to wait till you assign us or should we make PRs?

[2021-03-08 15:37] puja0655 opened #75 "Adding reminder for events"
**Is your feature request related to a problem? Please describe.**
There is high chance that we can forget the event timing results in missing the event

**Describe the solution you'd like**
can set reminder for each event

**Describe alternatives you've considered**

**Additional context**
Add any other context or screenshots about the feature request here.

[2021-03-08 15:38] puja0655 commented on #75
Please allow me to work on this issue

[2021-03-08 15:40] puja0655 commented on #74
Please assign me on this issue

[2021-03-08 15:42] padmajabhol commented on #74
I m intrested in solving this issue, please assign me.

[2021-03-08 15:43] Mayank0255 opened #76 "[Backend]: Setup a response handler for the API"
The response handler is a helper function and for that, we can put this under the helper's directory.
The benefit of this is for front-end developers working on this project, for which fetching appropriate data from the endpoint would be easier and well structured.

The Response Handler should be of this structure:

[code]

Can I work on this?

[2021-03-08 15:44] Mayank0255 commented on #76
Can you assign this issue to me?
@PragatiVerma18

[2021-03-08 15:48] Naman-12911 commented on #70
I am a participant of girls scripts
Please me this issue .

[2021-03-08 15:51] nabin-nath commented on #63
Hello, I want to add  more open source events.

[2021-03-08 16:57] SainathPoojary commented on #74
Please Assign it to me. I have fixed the bug

[2021-03-08 17:01] subhangi2731 commented on #72
can you assign this to me?

[2021-03-08 17:25] samyakjain10 commented on #76
Hey! I want to work on this issue under GSSOC'21. Can you assign this issue to me? @PragatiVerma18

[2021-03-08 18:48] shairanshrawat commented on #73
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-08 18:49] shairanshrawat commented on #70
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you.

[2021-03-08 19:06] heyankit78 commented on #73
I am also a participant of GSSOC 21.So the mentor of this project can assign someone to work on it .
I also want to contribute on it

[2021-03-08 19:21] somya51p commented on #71
Hey...I would like to contribute to this issue. Can you assign me the same!!

[2021-03-08 20:27] nagasaisriya commented on #63
Hello, would like to add more open source events and contribute as a part of GsSoc

[2021-03-08 20:29] nagasaisriya commented on #70
Hello, I would like to work on this issue as a part of GsSoc'21.
Could you please assign it?

[2021-03-09 05:25] machine-sg commented on #70
I am a GSSOC'21 participant and I wish to work on this . Hope to hear back from you .
Thank you .

[2021-03-09 06:43] Aarushi3113 opened #81 "Link for GSOC event is broken"
**Describe the bug**
The link for the google summer of code is broken and has a typo in it.

**Expected behavior**
The correct link should open the GSOC website

**Additional context**
I can fix the broken link. Please assign this issue to me under GSSOC'21 label.

[2021-03-09 06:47] Riya764 commented on #63
would like to work on this under gssoc'21.

[2021-03-09 07:06] Aarushi3113 opened #83 "Adding Outreachy program to your list of events"
**Is your feature request related to a problem? Please describe.**
Outreachy provides remote internships. Interns work for experienced mentors from open source community.

**Describe the solution you'd like**
I would like to add Outreachy internships as a part of your list of events . Outreachy's goal is to increase diversity in open source
this is the link to their website: "https://www.outreachy

[2021-03-09 07:26] gnikita432 commented on #71
hey...I would like to contribute to this issue for GSSOC'21. please assign this task to me.
![c2](https://user-images.githubusercontent.com/61223163/110433686-cb791980-80d6-11eb-8fac-8cb9e6506ec6.PNG)

[2021-03-09 08:10] Samridhi-98 opened #85 "[GSSoC'21] Invalid date format in events.json"
**Describe the bug**
The date format in events.json is invalid somewhere it is dd/mm/yy and in some sections, it's dd/mm/yy with time.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'foss-event' folder
2. Open the 'frontend' folder
3. Move to 'data/events.json.'
4. See error

**Expected behavior**
The date format should be **MM/DD/YYYY** in events.json

[2021-03-09 08:34] mansijain980 commented on #74
@satcasm I can fix it easily . I was working on it from two days . Please assign it to me . I got the error.

[2021-03-09 08:34] ritik307 opened #86 "[GSSOC'21] Add events to events.json file"
### Description
Since everyone is creating a separate issue regarding adding each and every event. I have created an issue for all the upcoming addition of events so that all the events PR will be located under the same issue and will be easy to review.

### Format for `event.json`
{
  "title": "`TITLE OF THE EVENT`",
  "website": "`WEBSITE OF THE EVENT`",
  "start": "`DATE IN MM/DD/YYYY FORMAT`",

[2021-03-09 08:38] MadHawkx opened #88 "Events that have already started should show "Offline" instead of "Online""
If an open-source event is supposed to start on 1/03/2021 and the present date is 2/03/2021. The event should show offline because the registrations are now closed and students can not apply to it. So, it makes more sense to show "Offline" or "Ended".

Solution-
It can be easily tackled by setting an expiry date as the start date or constantly checking if that day's date is more than the start dat

[2021-03-09 08:56] ritik307 opened #90 "[GSSOC'21] Arrange events from most recent to least recent"
### Description
The events should be arranged in the format from most recent to the least recent event so that it would be easier for the user to locate and register for the events of their choice.

[2021-03-09 08:56] padmajabhol opened #91 "Improve more info buttons."
**Is your feature request related to a problem? Please describe.**
Not really, but the existing buttons look boring.

**Describe the solution you'd like**
I want to add animation to the buttons.

[2021-03-09 09:01] Samridhi-98 commented on #90
Working on it will submit the PR by today.

[2021-03-09 09:16] mdPial commented on #90
okay

[2021-03-09 11:25] srisatya1197 commented on #91
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:04] noviicee opened #95 "Removing Hacktoberfest 2020 logo from the readme."
Since Hacktoberfest 2020 is over so there is no need to having it in the readme and also in the About.
Also lines 137 and 141 of readme file, are not needed now.
Plus, the link to check contributions for hacktoberfest 2020 is not working, obviously because maintainers have removed the page.
Hence, I would like to clean the readme file and update it as per requirements of current time.  :)

[2021-03-09 12:23] jonathanalvares9009 commented on #95
Can I work on this issue?

[2021-03-09 12:45] Naman-12911 commented on #91
I want to contribute to this issue. please assign me this issue.

[2021-03-09 14:01] bhubesh757 opened #97 "improving Header , Footer and Search Bar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-09 14:09] kanchi-22 commented on #97
I would like to work on this issue

[2021-03-09 14:32] AakankshaShah opened #98 "I would like to add archive feature on this project.Please assign me this under GSSOC'21 participant."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-09 15:23] Aarushi3113 commented on #83
Hello I am Aarushi, GSSOC'21 participant.
I would like this issue to be assigned to me under GSSOC'21.
I would write clean code and follow the guidelines.

[2021-03-09 16:07] rk05-lenavo commented on #70
I'm the participant in GSSOC'21. I'm interested to contribute in this issue. Kindly assign me.

[2021-03-09 16:23] prisha-srivastava opened #99 "Add Dark mode to the homepage"
I would like to add dark mode to the homepage. Can you assign me this issue as a part of GSSOC'21?

[2021-03-09 17:43] pbpcodes opened #101 "improving the header, cards, footer and adding dark mode"
Hey. I am a GSSoC'21 participant. I would like to contribute to the project by adding the following things to the website:

**1) Improving the header style and adding for buttons with functionality.
2) Improving the cards style and adding "change color during hover" functionality.
3) Improving the footer with more info.
4) Adding dark mode to the website.**

Please assign me this project.

[2021-03-09 19:33] SARVESHKHANDELWAL commented on #101
Why this issues are not label as GSSOC ???
I would like to work on this issue,can you assign me?

[2021-03-10 00:47] kumarishalini6 opened #103 "Create home page"
1.**there should be a home page through which we can render on  main page**

I want to add home.html to make project more attractive and in home.html there will be a button which is rendering you in main page.
footer should be more attractive

i want to work on it under gssoc21, can you please assign it to me??

[2021-03-10 04:47] bhubesh757 commented on #97
@itsnishchay26 @rk05-lenavo @kanchi-22  kindly contact the Admin

[2021-03-10 06:03] kcoder63 commented on #99
there is already an issue open for dark mode
issue #101
it'll be better to close this to avoid confusion

[2021-03-10 06:55] prisha-srivastava commented on #99
@kcoder63 okay.

[2021-03-10 06:55] #99 closed

[2021-03-10 06:59] MayankBeck commented on #103
I would like to work on this issue under GSSoC 21. Can you please assign this to me ?

[2021-03-10 07:22] Nikitha2309 commented on #85
I am a GSSoC'21 participant and would like to work on this PR. I already added a commit with clean code and understandable comments. Please assign this to me

[2021-03-10 07:23] AasthaGoyalgit commented on #70
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:24] AasthaGoyalgit commented on #95
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 07:25] AasthaGoyalgit commented on #97
Hi,
I would like to work on this issue. Could you please assign it to me?

Thanks!!

[2021-03-10 08:02] oneknucklehead commented on #103
I want to work on this issue under GSSoC '21. I can add the home page and make the page more attractive and render it to the main page.

[2021-03-10 08:18] oneknucklehead commented on #101
I can improve the header style and add the button with functionality and I can also improve the style of the cards and add the change hover color functionality. Can you please assign this issue to me?

[2021-03-10 09:32] padmajabhol opened #106 "Add favicon."
**Is your feature request related to a problem? Please describe.**
Unlike other websites, this does not have a favicon.

**Describe the solution you'd like**
Creating a theme based favicon.

[2021-03-10 09:34] padmajabhol commented on #62
I want to improve the footer. Please assign me so I can contribute.

[2021-03-10 10:20] Navya-amarneni commented on #85
Hey !!!! I found this project to be interesting and would like to contribute. I have successfully fixed the bug and have made a PR regarding the invalid date format issue. Kindly have a look and please assign this to me.

This is a screenshot regarding the bug fix solution:
![Screenshot (850)](https://user-images.githubusercontent.com/47153245/110614319-39494200-81b8-11eb-86cb-0bdab18e098e.png)

[2021-03-10 11:15] sagunjaiswal commented on #95
I would love to work on this issue.
Can you assign this to me?

[2021-03-10 11:18] sagunjaiswal commented on #106
hi,
I would love to add the favicon please assign this to me.
thanks in advance

[2021-03-10 11:29] Anshika-Srivastava commented on #97
I would like to work on this issue. Could you please assign it to me?
Thank You

[2021-03-10 11:35] Anshika-Srivastava commented on #70
I am a participant in GSSOC'21. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you!!

[2021-03-10 12:14] 0Faiz0 commented on #101
i can do this work and can make that better.

[2021-03-10 12:44] gritika18 commented on #106
I would love to add a favicon. Could you please assign this to me?

[2021-03-10 12:50] sushant1824 commented on #103
i am interested in this . i am experienced in wordpress and its plugin and also have knowledge of html and css. so can u assign me

[2021-03-10 12:56] GovindCodes commented on #63
I would love to work on this, under GSSOC '21.

[2021-03-10 13:09] raveena69 commented on #70
Hi,
 I'm a participant in GSSOC'21 and I would like to contribute to this issue.

[2021-03-10 13:22] mansijain980 commented on #81
@Aarushi3113 maam , I am a participant of GSSOC'21 . I would like to implement this as i got the error .
There is some error in events.json file . I can fix the broken link .
Please assign it to me .
Thank you

[2021-03-10 14:35] priyanshupardhi opened #109 "Changing a button's color on hover"
**It would be great if the color of the "More Info" button change on hovering over it.**
I want the "More Info" to change its background color new color on hover

**It can be resolved by changing CSS**
I will be using ":hover" selector to select the button when the user mouse over them, I will change its background-color

@rudrakshi99 I would like to work on this issue, please assign me.

![Color

[2021-03-10 15:20] ayu222220 commented on #109
Would like to work on this will try to change the color according to the  site theme and use some lighter or darker color accordingly using CSS with the feature of hover.

[2021-03-10 15:23] kirtirajsinh commented on #109
I would like to contribute to this issue.  could you please assign it.

[2021-03-10 15:29] Bannump commented on #91
Hey I want to animate the look of the button & also when hovered and clicked on. Waiting for you to assign .

[2021-03-10 15:57] hrushikesh-git commented on #90
Hey @ritik307  i would like to work on this issue as the beginning of GSSOC'21 contribution

[2021-03-10 16:01] hrushikesh-git opened #111 "Moving to React on Frontend"
As the site is all based on JavaScript wouldn't it be better to move it to the single-page web app using  the famous JavaScript Library React it will become fast responsive [GSSOC'21]

[2021-03-10 16:39] SARVESHKHANDELWAL commented on #109
I would like to contribute to this issue ,can you please assign me.

[2021-03-10 16:49] saloni-15 commented on #95
I can work on this issue.

[2021-03-10 17:05] ritik307 commented on #90
@hrushikesh-git thanks for the interest but the PR regarding this issue has already been made.

[2021-03-10 17:29] rohan-kulkarni-25 opened #113 "Update the Events"
**Describe the bug**
A clear and concise description of what the bug is.
There are events still present whose deadline is already passed I will like to delete all those issues whose end date is passed.

**To Reproduce**
Steps to reproduce the behavior:
1. See the https://fossevents.netlify.app/ for Eg :- first program which is already over !!

**Expected behavior**
A clear and concise description

[2021-03-10 17:29] rohank2502 commented on #113
Will start working on it as soon as I get assigned !!

[2021-03-10 17:30] bhubesh757 opened #114 "Add Google Authentication! Firebase"
**Is your feature request related to a problem? Please describe.**
yes
**Describe the solution you'd like**

A clear and concise description of what you want to happen.
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hey @deshraj  I Raised a Issue , Lets Have a Authentication to make our Website secure and also from privacy free
Google , Github , Facebo

[2021-03-10 18:04] pshivesh8 commented on #109
GSSOC'21
I would like to contribute to this issue. could you please assign it?

[2021-03-10 18:05] pshivesh8 commented on #106
GSSOC'21
I would like to contribute to this issue. could you please assign it?

[2021-03-10 18:07] barsha119 opened #115 "button at nav bar with the name "About Foss Event ""
**Is your feature request related to a problem? Please describe.**
Yes, because About page is most important part of any website , I think we should add it.
**Describe the solution you'd like**
We can add button towards the left of the github icon on nav bar which will direct to it's about page.

 I am a participant in GSSOC'21. Please assign me this issue.

[2021-03-10 18:31] AviJuneja2007 opened #116 "Adding Social media links"
Hey! I am a participant in GSSOC'21. I would like to make this contribution by making a social media sidebar for the site with attractive icons which will hold the links to your social media handles. Please, consider! And assign it to me so that I can start working on it at the earliest.

[2021-03-11 05:13] PratikGarai commented on #111
I am in favor of this idea and would like to work on this issue too.

[2021-03-11 05:30] simranbhalla3 commented on #109
Hii I am Simran Bhalla, a Gssoc'21 Participant. Project admins please consider this issue for gssoc21 label and assign this issue to me.

[2021-03-11 06:15] Priyanka7011 commented on #116
hii!
I am GSSOC 2021 participant. I would love to work on this . I can make social media panel with few animations which will make it more attractive . I can design it the way you want.

Please Assign me this.
Thank You

[2021-03-11 06:17] Priyanka7011 commented on #97
I am a GSSOC 2021 participant.
I would love to work on this.
Please assign me this issue

ThankYou

[2021-03-11 06:20] Priyanka7011 commented on #73
hii!
I am a GSSOC 2021 participant.
I have good experience in UI/UX designing . I would love to contribute to this.

Please assign me this.
Thank You

[2021-03-11 06:30] shefali12-ab commented on #97
Hii,
I am one of Participant of GSSOC'21.
I would like to work on this issue.  Please assign me this issue.
Thank you!!

[2021-03-11 06:31] servermonk commented on #116
Hey @AviJuneja2007, I have assigned this issue to you. You can start working on it. All the best

[2021-03-11 06:35] servermonk commented on #113
Hey @rohank2502 , I have assigned this issue to you. You can start working on it. All the best

[2021-03-11 06:37] rohank2502 commented on #113
Thanks @servermonk !! Will get a PR at for it today or at max tomarrow

[2021-03-11 06:49] dcs-soni opened #118 "[GSSoC'21] UI Improvement : Add borders while hovering to the card shaped structure."
### Add a feature in Website to enhance the UI

**Add Borders while hovering through cards**

While surfing through the web page when the user hovers through the specific type of event ( card ) the card should display some border effects along with its bouncy effect.

If you think by adding this feature the webpage will look more attractive and if it attracts the user then I would like to work on

[2021-03-11 07:37] yuktagautam commented on #118
Please assign this issue to me under GSSOC'21

[2021-03-11 07:41] vanshikapandey commented on #106
Sir I can take this issue and work on it please assign it to me

[2021-03-11 07:42] vanshikapandey commented on #115
Sir I am ready to work on this issue. Please assign this to me

[2021-03-11 07:43] vanshikapandey commented on #73
Sir I am interested in contributing to this issue as I have been working as a front end developer. Please assign this to me

[2021-03-11 07:54] 0Faiz0 commented on #115
i can do this ,project admin can you assign this issue to me under gssoc21 label

[2021-03-11 07:57] 0Faiz0 commented on #109
I would like to contribute on this project, Project admin will you please assign this issue to me.
GSSOC'21

[2021-03-11 07:59] 0Faiz0 commented on #91
I would like to contribute on this project, on hover i can animate the buttons.
Project admin will you please assign this issue to me.
GSSOC'21

[2021-03-11 08:18] simranbhalla3 commented on #115
Project admins please assign this issue under gssoc'21 label and assign this issue to me

[2021-03-11 09:36] mohammedjameel24 opened #121 "Add Favicon"
add a dynamic favicon for web app

pls assign me this under gssoc212

[2021-03-11 09:36] mohammedjameel24 opened #122 "Add Dark mode"
dark mode UI

[2021-03-11 09:44] mohammedjameel24 opened #123 "Right Padding"
**Describe the bug**
Right padding is more than left , makes content look ugly and doesn't follow symmetry

**FIx**
Steps to reproduce the behavior:
mynor changes in CSS

[2021-03-11 09:48] vidhi1121 commented on #123
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-11 09:54] avinashjha1320 commented on #123
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:54] avinashjha1320 commented on #122
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:54] avinashjha1320 commented on #118
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:55] avinashjha1320 commented on #115
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:55] avinashjha1320 commented on #109
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:55] avinashjha1320 commented on #103
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 09:55] avinashjha1320 commented on #101
GSSoC'21
I would like to work on this issue...I would be thankful if you can assign this issue to me. I will successfully remove the issue in very little time.

[2021-03-11 10:59] akankshaaa08 commented on #121
Can I have this issue assigned to me for contributing under GSSoC'21?

[2021-03-11 11:56] Shraddha13Jain commented on #86
/assign

[2021-03-11 11:59] Shraddha13Jain commented on #85
/assign
please assign this issue to me. I want to contribute to it as a participant in GSSoC'21

[2021-03-11 12:27] ketakitankk opened #124 "Revamping the webpage with styles to fonts and colors to elements."
**Describe the bug**
The fonts of the webpage seem pretty plain to me from a user's point of view. The webpage is also lacking some splash of color and a tad of padding in the cards.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://fossevents.netlify.app/
2. Scroll down to the end.
3. See error that is, styles to text and alignment issues too.

**Expected behavior**
I expected t

[2021-03-11 12:31] oneknucklehead commented on #124
I can look into the issue since I have great hands-on experience in HTML CSS and Javascript. I would like you to assign the issue to me!

[2021-03-11 12:33] oneknucklehead commented on #124
GSSoC'21
I can look into the issue and I would like to work on this issue since  I have great hands-on experience in HTML CSS and Javascript. I would be very thankful if you assign the issue to me under GSSoC'21.

[2021-03-11 12:35] oneknucklehead commented on #122
I already have experience in adding a dark mode to websites so I would be grateful if you could assign this issue to me. :)

[2021-03-11 13:09] priyamourya commented on #122
I am GSSOC'21 participant and l would like to work on this problem and would add dark mode to website

[2021-03-11 13:23] K-jais commented on #122
I can work on this issue efficiently as in the past I have added this feature to my portfolio website.
Link to my portfolio - https://damp-lowlands-00999.herokuapp.com/

[2021-03-11 14:42] N-Shar-ma opened #126 "Code Refactor: Using template tags in HTML rather than creating HTML in JavaScript"
## Separation of Concerns
It is a well known fact that HTML is meant exclusively for the content and it's structure, while JavaScript should deal only with the web page's interactivity. I noticed that for each event added to the page, it's entire html is generated via JavaScript using `createElement()`. While this works just fine, this violates the principle of separation of concerns between HTML

[2021-03-11 14:52] Shraddha13Jain commented on #118
Please assign this issue to me under GSSOC'21. I would like to contribute to this .

[2021-03-11 14:55] oneknucklehead opened #127 "issues regarding the cards, footer section and the background."
The website looks kind of dull and unattractive. It lacks liveliness such as a background image/color, the footer contents are not aligned properly, and the view cards are also quite dull

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://fossevents.netlify.app/'
2. The issues mentioned above should be visible

**Expected behavior:**
The Website should have somewhat a dark backgr

[2021-03-11 15:10] SwatiPriya2805 commented on #106
I am a GSSoC'21 participant.
I would like to work on this issue. I would be thankful if you can assign this issue to me.

[2021-03-11 15:13] SwatiPriya2805 commented on #121
I am a GSSoC'21 participant.
I would like to work on this issue. I would be thankful if you can assign this issue to me.

[2021-03-11 15:43] VrindaTyagi commented on #127
Hi! I would like to work on this issue. Kindly assign it to me as a gssoc'21 participant.

[2021-03-11 16:18] Rutikab12 commented on #86
Hey I would love to work on this issue as early as possible. I want to contribute it as GSSoC'21 participant.

[2021-03-11 16:25] ritik307 commented on #86
@Shraddha13Jain  @Rutikab12  go for it guys.

[2021-03-11 16:38] shonali2600 opened #128 "[GSSOC'21] Making UI look more attractive like aligning cards to the center and some changes in search bar"
Cards are not center-aligned nor attractive. Also, the search bar is looking dull.

Want to fix all the issue related to UI.

[2021-03-11 17:55] flyingsonu122 opened #130 "change code to fix problem of broken links in events.json"
**Describe the bug**
we should remove **https://** from code to fix the issue of broken links in events.json file because anyone adding any full link for the event website then it adds extra **https://** to the link

<br/>

![image](https://user-images.githubusercontent.com/51280276/110831362-2b7ee400-82c0-11eb-9b86-9e48d98de164.png)

<br/>

**Expected behavior**
website link should be full websit

[2021-03-11 19:22] shairanshrawat opened #132 "[GSSoC'21] Adding a landing page"
the link which you have provided doesn't have a landing page it directly started from the event
I would be making a landing page so as to make it more attractive to the use. It will include the following

- creating a navbar
- designing the front page
- telling about the website and how can it help
- user can then click on the navbar for more event details
- and creating the footer

I am a partici

[2021-03-12 04:15] Fpj-11 commented on #128
I would like to work on this issue, kindly assign it to me.

[2021-03-12 06:34] nabin-nath opened #134 "I would like to add a few open source programmes here are few"

[2021-03-12 06:34] #134 closed

[2021-03-12 06:44] nabin-nath opened #135 "I would like to add more open source programmes."
I would like to add more open source programmes like
1. Season of Docs
2. Season of KDE
3. OWASP SOC
4. Mozilla Winter of Security
5. RGSOC
6. Tweag I/O Summer Internship
7. TOR Summer of Privacy
8. SOCIS
9. Linux Foundation Networking Internships
10. The X.Org Endless Vacation of Code (EVoC)
11. DataONE Summer Internship Programme
12. Julia Summer of Code
13. OWASP Code Sprint
14. Free Software F

[2021-03-12 07:30] tanyalava commented on #109
I am a GSSoC'21 participant and would really like to work on this issue . I will make it look better .

[2021-03-12 08:05] shalmoly79 opened #136 "Adding Registration date information on event cards."
**Is your feature request related to a problem? Please describe.**
I am a GSSOC'21 participant. Event starting and ending date is given. If registration start and end dates are added, it would be much helpful.

**Describe the solution you'd like**
I want to add Registrations open and close date on the event cards.

[2021-03-12 08:07] servermonk commented on #135
Hey @nabin-nath , I have assigned this issue to yo. You can start working on it

[2021-03-12 08:08] servermonk commented on #136
hey @shalmoly79 , I have assigned this issue to you. You can start working on it

[2021-03-12 08:16] nabin-nath commented on #135
Thankyou

[2021-03-12 09:47] rohank2502 opened #137 "Add Contribution section in read me which will get updated automatically"
I will like to update readme file in which I will like to add the contribution section which will keep updating ! Will start working on the issue as soon as I get assigned !!

[2021-03-12 09:52] ritesh1731 commented on #137
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-12 10:01] Navya-amarneni commented on #118
I found this issue to be interesting.Can you assign this issue to me?

[2021-03-12 10:02] Navya-amarneni commented on #132
I found this issue to be interesting.Can you assign this issue to me?

[2021-03-12 11:52] Jassi10000 commented on #114
Am willing to try some hands on adding Google Authentication , can you assign me under GSSOC'21

[2021-03-12 16:52] shonali2600 commented on #128
Hey @servermonk, Please assign this issue to me, I would like to work on it as a GSSOC'21 Participant.

[2021-03-12 17:08] khareyash05 opened #138 "update contributing.md"
Hey! I would like to add the following in contributing.md
Add the following -

1.Difference between GIT and GITHUB
2.How to clone,fork repository
3.How to create a branch and then use git push to push to repo
4.Create a PR
5.Squash commits in a single issue into one
6, Updating the forked and local repo as the updations are made in the upstream
I would like to work on this as a part of GSSOC'21

[2021-03-12 17:13] a-abhinav commented on #88
I would like to add this feature please assign me this issue.

[2021-03-12 19:48] aroma-sketch commented on #109
hey there, I am new to open source projects, and I would like to solve this issue as a small step, looking ahead to a response. it would be helpful.

[2021-03-13 06:05] AishwaryaArun15 opened #140 "Adding animations to the landing page"
I would like to add some animations to the Landing page.
It makes the page more attractive and interactive.
Please assign me to this issue.

[2021-03-13 06:07] AishwaryaArun15 commented on #132
Hello,
I am interested to work on this issue.
Please assign

[2021-03-13 06:51] nancyyadav22 commented on #86
Hey ! I would like to contribute on this issue as a GSS0C'21 participant. Can you assign this issue to me ?

[2021-03-13 09:39] Dimple115 commented on #123
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:39] Dimple115 commented on #118
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:39] Dimple115 commented on #103
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:40] Dimple115 commented on #101
Hey, I'm gssoc'21 participant, I would like to give a hand in this project. Please assign this issue to me.

[2021-03-13 09:41] Dimple115 commented on #116
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:41] Dimple115 commented on #136
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 10:14] kaffan opened #141 "Adding filter feature to the search bar(gssoc 21)"
i want to add the filtering feature to the search bar on the front page

[2021-03-13 12:53] Kritika495 commented on #135
can I work on this issue

[2021-03-13 13:09] shriya030 commented on #68
I can add the list of contributors in README.md. Can I work on this issue?

[2021-03-13 13:29] abhishek96k commented on #141
Hii @PragatiVerma18
I am Abhishek and I am participating for GSSOC'21 .So I would like to contribute to this project.
So kindly do `/assign` me this task.

[2021-03-13 13:36] flyingsonu122 opened #143 "Website is not showing event"
**Describe the bug**
Website is not working due to syntax error in events.json file

![IMG_20210313_190253](https://user-images.githubusercontent.com/51280276/111031754-196f8380-842f-11eb-8740-817543f0b658.jpg)

Comma is missing after the events

[2021-03-13 14:28] aniketlodh commented on #143
I have made a PR that addressed this syntax error.

[2021-03-13 14:29] Tanu-priya-Roy opened #145 "Would like to make the website responsive"
Responsive Website is a necessary part. I would like to work on the responsiveness of the Website so that it is user friendly and interactive, as a part of GSSOC'21.

[2021-03-13 14:37] Tanu-priya-Roy opened #146 "Adding a small introductory video about the events"
As a new viewer will see the website they will at first try to know what it is about and adding a video will act like a boon . I would like to add the Video feature or link at the starting of the web page as a part of GSSOC'21. please assign me this issue as this will make the web page attractive.

[2021-03-13 15:02] priyakumari02 commented on #136
I am GSSOC'21 participant. I want to fix this issue, kindly assign this issue to me.

[2021-03-13 15:05] priyakumari02 commented on #113
I am GSSOC'21 participant. I want to fix this issue, kindly assign this issue to me.

[2021-03-13 15:08] priyakumari02 commented on #116
I am GSSOC'21 participant. I want to fix this issue, kindly assign this issue to me.

[2021-03-13 15:08] Tanu-priya-Roy commented on #145
Yes I would like to make the website responsive. Please assign it to me.

On Sat, 13 Mar 2021, 7:59 pm welcome[bot], ***@***.***> wrote:

[2021-03-13 15:12] Tanu-priya-Roy commented on #140
I would like to work on this issue. Please assign it to me.

[2021-03-13 15:23] anamkaa commented on #86
I would like to work on this issue as a part of GSSOC'21. Please assign it to me.

[2021-03-13 16:33] flyingsonu122 commented on #143
Alright @aniketlodh go ahead

[2021-03-13 16:33] #143 closed

[2021-03-13 19:53] ritik307 commented on #86
@nancyyadav22 @anamkaa @Shraddha13Jain @Rutikab12 please confirm it with the mentors/project admin(@naman360 @PragatiVerma18  @servermonk ) of this project about this issue. I have also tagged them multiple times but they haven't responded yet. If they do so you can work on this issue.

[2021-03-13 20:23] hritikgupta92 commented on #111
I also agree
Modern sites use React for creating front-end components

[2021-03-13 20:45] hritikgupta92 opened #150 "update events.json file by adding information about processing foundation fellowship program"
I'll be adding information processing foundation fellowship program i.e its timeline, organisation and link to its website

[2021-03-13 20:46] hritikgupta92 commented on #150
@sehgalayush1 please assign this issue to me

[2021-03-13 23:31] jaiswalrobin commented on #132
Hey, I want to work on this issue. please assign it to me.

[2021-03-13 23:32] jaiswalrobin commented on #127
Hey! I would like to work on this issue. Can you assign it to me?

[2021-03-13 23:33] jaiswalrobin commented on #123
Hey! I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-13 23:33] jaiswalrobin commented on #145
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-13 23:35] jaiswalrobin commented on #141
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-14 05:23] Rutikab12 commented on #86
My PR got merged on this issue before 2 days.

[2021-03-14 05:33] Shraddha13Jain commented on #132
/assign
Hey!! @shairanshrawat  , I am a participant of GSSoC'21. I would take up this issue.
Can you please assign me this issue.

[2021-03-14 07:28] ritik307 commented on #86
Nice🎉 then you guys are free to work on this issue make sure you don't repeat the events already present in the JSON file.
Before working make sure you guys mention the event you are working on.

[2021-03-14 07:46] Shraddha13Jain commented on #86
please review my PR @ritik307 . I made it 2 days ago.

[2021-03-14 07:56] ritik307 commented on #86
sorry to say @Shraddha13Jain its not in my hands to review a PR, my PR is also pending. I created this issue so that it would be easier for the project mentors to locate event.json PRs.
Project mentors- @naman360 @PragatiVerma18 @servermonk. Please tag them for merging the PRs.

[2021-03-14 08:00] Shraddha13Jain commented on #86
okay thanks @ritik307 .

[2021-03-14 08:02] Shraddha13Jain commented on #86
please review my PR @naman360 @PragatiVerma18 @servermonk . I made it 2 days ago.

[2021-03-14 09:37] fatma-sia27 commented on #115
GSSOC'21
Hello @project admin, please assign this issue to me as I had learned HTML, CSS recently so I can work on this issue.
Thank you.
Aasia fatma

[2021-03-14 09:42] fatma-sia27 commented on #109
Hello , Iam new to open source contribution so I would be great if you assign me this project to me. I had learned CSS and HTML recently so pleas assign it to me @rudrakshi99
Thank you

[2021-03-14 14:51] ASHISH-GITHUB2495 opened #152 "We can also add upcoming event flashing notice board"
**Is your feature request related to a problem? Please describe.**
can directly redirect to the upcoming specific event

**Describe the solution you'd like**
we can add upcoming event flashing notice board.

**Additional context**
the upcoming notice board should be only updated by the Admin or authorized one.

Can you please assign it to me .....

[2021-03-14 15:00] ASHISH-GITHUB2495 opened #153 "we can add "Get in touch section" of "feedback section" in the footer of the website."
**Is your feature request related to a problem? Please describe.**
we can add "Get in touch section" of "feedback section" in the footer of the website.

**Describe the solution you'd like**

![Screenshot (15)](https://user-images.githubusercontent.com/57385079/111073352-5bb6c480-8504-11eb-8e1c-67f72617a368.png)

### I have already coded the "Get in touch section" if this issue is good i can also

[2021-03-14 19:25] meghnabajoria commented on #114
@PragatiVerma18 @bhubesh757  I am willing to implement Github Authentication. Can you assign it to me under GSSOC'21?

[2021-03-15 09:04] K-jais opened #154 "Dropdown events in Search input tag"
Dropdown the events which have been there in the events.json and also having that search thing in the input text tag like the datalist tag with options tag as the events in the events.json.

[2021-03-15 11:06] Ananya-Sharma commented on #145
I would like to contribute to this issue. Can you please assign it to me?

[2021-03-15 13:44] ankan1811 opened #155 "dropdown"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-03-15 13:44] #155 closed

[2021-03-15 13:58] RubenFalcao14 opened #156 "Filters to find the event , one is interested in."
The site does not have a filter option , which tends to waste one's time in finding the event which one likes.
I would like to add filter option to the site to make it easy for a person to find the event of his choice faster.
I'm a GSSOC'21 participant, I would love to include the filter in the site.
Thank You.

[2021-03-15 15:23] rajeshpanjiyar opened #157 "Adding CONTRIBUTORS.md file"
**Hi,** I would like to add a contributors file to add the **name and GitHub handle** of respected contributors.
- I am a participant under GSSoC'21

[2021-03-15 18:24] hritikgupta92 commented on #150
@deshraj @spyshiv @sehgalayush1 @singhsterabhi please assign this issue to me

[2021-03-16 07:06] Alik-Kumar-Ghosh opened #158 "Background UI animation with particle JS"
**This feature will change the complete look of the website**
Background animation using particle js framework

**Describe the solution you'd like**
I will add js flies like particle js , app.js and jquery and transform some needed lines in css file

**GSSOC'21**
I am a GSSOC'21 participant please assign this to me.

**Screenshot**
![image](https://user-images.githubusercontent.com/33929979/111268

[2021-03-16 07:19] mohammedjameel24 commented on #122
pull request #159

[2021-03-16 07:32] PSoni8 commented on #135
I am Participant of GSSOC'21. Can I also work on same?

[2021-03-16 08:30] K-jais opened #161 "Contact Us, Social Media Footer Section"
We can add the contact us and social media connectivity to this website. In that portion, we can add a form if anyone has any query they can ask there and if he submits the form then we will get back his query in form of mail. And in that section, we can add social media icons for its connectivity.

[2021-03-16 08:33] Subhangini commented on #161
I would like to work on this issue as a gssoc participant

[2021-03-16 08:39] Subhangini opened #162 "License missing"
repository to truly be open source, you'll need to license it so that others are free to use, change, and distribute the software.

[2021-03-16 08:40] Subhangini commented on #162
As a gssoc Participant i would like to work on this

[2021-03-16 09:06] pinnacle20 opened #163 "No event found on landing page"
Hello sir,
I am shivanand, GSSOC'21 participant. I would like to fix this issue.
Can you please assign it to me?

Thanking you

![Screenshot 2021-03-16 143223](https://user-images.githubusercontent.com/73813570/111283032-aa7b7000-8664-11eb-8acd-e1b667f4a20e.jpg)

[2021-03-16 09:55] Pramit29 commented on #122
I am willing to contribute to this issue and add dark mode to the website.

[2021-03-16 09:57] Pramit29 commented on #156
I can try working on this issue although I am a beginner and just started to contribute.

[2021-03-16 10:28] vidhi1121 commented on #153
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-16 10:35] vidhi1121 commented on #146
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-16 10:36] vidhi1121 commented on #63
I would like to contribute to it as a part of GSSOC'21.
Can you please assign it to me?

[2021-03-16 11:23] lakshita15 commented on #157
hi , i'm gssoc'21 participant
I want to work on this issue
Can you assign issue to me ?
i'll submit before deadline

[2021-03-16 12:40] ShrutiOmer opened #164 "Making events status offline whose deadline is gone"
**Is your feature request related to a problem? Please describe.**
We can make event status "offline" in the event cards when the end date of the event is gone. This feature will help the website users to know which event is finished.

**Describe the solution you'd like**
I want to change the status of the events and mark the status as "offline" with red color by comparing the present date with th

[2021-03-16 15:10] guruc-134 opened #166 "Changing the appearance of the cards and adding more themes and font styles to the website"
**Is your feature request related to a problem? Please describe.**
This feature is related to the UI/ appearance of the website
**Describe the solution you'd like**

I would like to change the appearance of the cards, add some shadows, change some animations.
I would also like to add a feature that would let the user change the themes and font styles of the website, cause I think customizability i

[2021-03-16 21:04] 435akashjha commented on #122
if you think the person you have assigned this issue have taken lots of time then you can assign this issue to me I will like to work on this issue and implement dark mode on the website.

[2021-03-16 21:07] 435akashjha commented on #156
I want to work on this issue can you assign this to me

[2021-03-16 21:44] pinnacle20 opened #167 "Differentiating between active events and closed events"
I would like to change border color of open source events which are ended now so that user gets to know about active events to participate.
It will increase good user experience .

Shivanand, GSSOC'21 participant.
Thank you

Before
![before](https://user-images.githubusercontent.com/73813570/111383799-bdc32580-86ce-11eb-923a-0d8c5a73d7a3.jpg)

After
![after](https://user-images.githubusercontent.c

[2021-03-17 03:45] guruc-134 commented on #166
thanks for assigning this issue to me

[2021-03-17 04:33] ShrutiOmer commented on #164
Thankyou for assigning me the issue

[2021-03-17 04:48] sanjanasingh31 commented on #156
Hello ,I am a gssoc'21 participant and would like to work on this issue

[2021-03-17 11:03] tend2infinity opened #170 "Introduce a filter that could filter events between specified dates"
**Introduction**
Hii, I am a Gssoc participant and I would like to work diligently upon the issue explained below, please assign that to me.
**Description of the problem**
What if a student wants to search for open source events in a particular time frame, maybe he/she is free only for that particular time frame.

**Solution**
I can create a filter in which the user can specify the start date and

[2021-03-17 12:55] ShambhaviSharma0110 commented on #132
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:56] ShambhaviSharma0110 commented on #127
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:56] ShambhaviSharma0110 commented on #122
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:56] ShambhaviSharma0110 commented on #111
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 12:57] ShambhaviSharma0110 commented on #103
Hey! I would really like to work on this please allow me to work on this as well...

[2021-03-17 17:48] samidha28 commented on #161
I would be happy to work on this .please assign this issue to me

[2021-03-18 06:32] Avnish5 commented on #166
Kindly assign me this issue under GSSOC 2021.

[2021-03-18 06:32] Avnish5 commented on #161
Kindly assign me this issue under GSSOC 2021.

[2021-03-18 06:32] Avnish5 commented on #140
Kindly assign me this issue under GSSOC 2021.

[2021-03-18 06:33] Avnish5 commented on #73
Kindly assign me this issue under GSSOC 2021.

[2021-03-18 07:20] SundeepChand opened #172 "Footer text not visible in dark mode"
**Describe the bug**
Footer text not visible in dark mode

**To Reproduce**
Steps to reproduce the behavior:
1. Select dark mode
2. Footer text is not visible

**Expected behavior**
The text on footer should have a lighter colour.

**Screenshots**
![cap](https://user-images.githubusercontent.com/34120932/111587283-fefb2880-87e7-11eb-9aa0-a9804b4a2b6d.JPG)

**Desktop (please complete the following

[2021-03-18 08:59] satcasm opened #174 "Removing 24 PULL REQUESTS card"
24 PULL REQUESTS seems to be taking this year off. So , I think that card is unnecessary as of now.
Would like to remove that card as a part of GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/111599400-396bc200-87f6-11eb-9e77-cd33fdb72415.png)

[2021-03-18 10:43] fatma-sia27 opened #175 "Creating About page"
Hey, I think if we will make a about page after that dark amd light mode button then it would increase beautify of this website. I really wanted to create a "about" page so please aasign me this issue.
Thank you

[2021-03-18 17:06] Saatvik21 opened #177 "Sticky/Fixed Navbar"
**Is your feature request related to a problem? Please describe.**
- Currently, the navbar isn't fixed/sticky on scrolling down.

**Describe the solution you'd like**
- As a participant of GSSoC'21, I would like to make navbar fixed/sticky.

**Describe alternatives you've considered**
- `NA`

[2021-03-18 17:14] AkshaySharma008 commented on #140
@Tanu-priya-Roy @Avnish5  Please explain your flow of thought briefly with technical solution, so that I could assign this issue to either of you.

[2021-03-18 17:23] Tanu-priya-Roy commented on #140
I want to add some animation with the help of CSS in the front end part. It
would make the web page more attractive.

On Thu, 18 Mar 2021, 10:44 pm Akshay Sharma, ***@***.***>
wrote:

[2021-03-18 17:25] Avnish5 commented on #140
Sir just wait i am sending you my technical solution in the wireframe

[2021-03-18 17:38] Avnish5 commented on #140
@AkshaySharma008 Sir i am going to use the HTML5,CSS3,BOOTSTRAP AND JAVASCRIPT to create the landing page.

This landing page have navbar at the top through which user can navigate to different pages of our website.

In the landing page we will adding the some events of open source which are happen around the globe.

We can add some more info in the landing page about how this website is gonna hel

[2021-03-18 18:11] AishwaryaArun15 commented on #140
@AkshaySharma008 sir, I think this issue concentrates on how interactive the landing page can be.
For example,
Animations when when we first open the landing page .(css, bootstrap)
Adding hover/click effects to the buttons or sections on the landing page.(css)
Adding labels or carousels using (bootstrap).
We can alert the users with [toasts ](https://www.w3schools.com/bootstrap4/bootstrap_toast.as

[2021-03-18 20:38] ishuu7 opened #179 "Adding the shadow feature for the card"
**Is your feature request related to a problem? Please describe.**
We can add the box shadow feature for the events card, so it looks more pretty.

**Describe the solution you'd like**
Initially all the cards events will have some shadow, on hovering as the card moves back, shadow also reduces. I can do this using box-shadow with hover property of css.

**Additional context**
I am a GSSOC 2021 par

[2021-03-19 04:42] PragatiVerma18 commented on #179
Hey @ishuu7! Sounds good, you can go ahead and give it a try, I am assigning this issue to you.

[2021-03-19 04:44] PragatiVerma18 commented on #177
Hey @Saatvik21, you can go ahead and make the changes, remember to drop a demo video once you've finished. I am assigning this issue to you. Reach out in case of any doubts.

[2021-03-19 04:45] PragatiVerma18 commented on #175
Hey @fatma-sia27, you can go ahead and make an about page, remember to drop a demo video/screenshots once you've finished. I am assigning this issue to you. Reach out in case of any doubts.

[2021-03-19 04:46] PragatiVerma18 commented on #174
Hey @satcasm, you can go ahead and remove this card, assigning this issue to you.

[2021-03-19 04:47] PragatiVerma18 commented on #172
Hey @SundeepChand, thanks for bringing that to our notice. Please make the changes and drop a PR, assigning this issue to you.

[2021-03-19 04:48] PragatiVerma18 commented on #170
Hey @tend2infinity, that would be a great addition to the project, go ahead and give it a try. Reach out in case of any doubts, assigning this issue to you.

[2021-03-19 04:54] PragatiVerma18 commented on #167
Hey @pinnacle20, sounds good. Go ahead and give it a try, assigning this issue to you.

[2021-03-19 05:12] PragatiVerma18 commented on #161
@K-jais since you made the issue, assigning it to you. Reach out in case of any doubts.

[2021-03-19 05:14] fatma-sia27 commented on #175
Thank you maam for assigning this issue to me. I will try to make about page as awesome as I can.

[2021-03-19 05:17] PragatiVerma18 commented on #157
Hey @rajeshpanjiyar, please specify if you're talking of a webpage using HTML in the website or do you just intend to add a `contributors.md` file and add names to it. The latter won't be a good idea for me.

[2021-03-19 05:19] PragatiVerma18 commented on #154
Hey @K-jais, go ahead, assigning the issue to you. Reach out in case of any doubts.

[2021-03-19 05:22] PragatiVerma18 commented on #153
Hey @ASHISH-GITHUB2495, can you make some changes to the UI and maybe share mockups because the screenshot doesn't align with the UI of the project, might end up looking inconsistent. Feedback section can be a cool feature, can you share more details as in what are you planning to put in there.

[2021-03-19 05:24] PragatiVerma18 commented on #152
Hey @ASHISH-GITHUB2495, can you describe a bit more? Are you talking about the flashing notices as on e-commerce or government websites? Attach some screenshot to explain better, will assign you if the feature seems required.

[2021-03-19 05:26] PragatiVerma18 commented on #150
Hey @hritikgupta92, please do not tag people other than the assigned mentors for the GirlScript Summer Of Code. DSC JSS is an organization and not everyone is involved with this project, so do not tag anyone who may not be concerned.

Talking of the issue, you can go on and add the event info, assigning this issue to you.

[2021-03-19 05:27] rajeshpanjiyar commented on #157
Contributors section in readme file would be better

On Fri, 19 Mar, 2021, 11:03 AM Pragati Verma, ***@***.***>
wrote:

[2021-03-19 05:28] PragatiVerma18 commented on #146
Hey @Tanu-priya-Roy, this won't be possible for each and every event. This can't be done manually for each event. Please find some other issue to work on, closing this one.

[2021-03-19 05:28] #146 closed

[2021-03-19 05:30] PragatiVerma18 commented on #145
Hey @Tanu-priya-Roy, you can go ahead and start working on this issue, assigning it to you.

[2021-03-19 05:31] PragatiVerma18 commented on #141
Hey @kaffan, go ahead and give it a try, assigning it to you. Reach out in case of any doubts.

[2021-03-19 05:31] #157 closed

[2021-03-19 05:33] PragatiVerma18 commented on #138
Hey @khareyash05, you can add the above-mentioned documentation but I would recommend giving it another name like `BEST_PRACTICES.md`. Assigning this issue to you, reach out in case of any doubts.

[2021-03-19 05:34] ASHISH-GITHUB2495 commented on #152
Like this we can add Upcoming Event board ...

![Capture](https://user-images.githubusercontent.com/57385079/111735883-c53b2800-88a2-11eb-994e-36765c3b6318.JPG)

[2021-03-19 05:34] PragatiVerma18 commented on #137
Hey @rohank2502, can you elaborate on what are you planning to do for this? Will you be using something like `sourcerer.io` or or `all-contributors` bot or use Git Hooks to implement this?

[2021-03-19 05:36] PragatiVerma18 commented on #136
@shalmoly79 please link your PR to this issue if you have made one, or else it will be re-assigned to some other participant.

[2021-03-19 05:38] PragatiVerma18 commented on #135
Hey @nabin-nath, do you have any updates on this. If you have made any PR, please link it to this issue for easy approval.

[2021-03-19 05:39] ASHISH-GITHUB2495 commented on #153
**Actually , mam I want to add some feature to the footer section, where any one can write feedback or want to contact or suggest feature etc.. or even he/she wants to give some information regarding any event.**

### And those above screenshot is actually just an idea ... i will write code with new UI which will compatible to the website..

[2021-03-19 06:00] AkshaySharma008 commented on #140
Yes, @AishwaryaArun15, you are right, I would like you to proceed further and @Avnish5 you can connect with @AishwaryaArun15 and altogether solve this, by this manner you will also learn how to work in collaboration.
Assigning this issue to @AishwaryaArun15.

[2021-03-19 06:01] tend2infinity commented on #170
@PragatiVerma18 I need to convert the start and end dates in dd/mm/yyyy format before I could compare them, can I do that in the events.json file?

[2021-03-19 06:02] Tanu-priya-Roy commented on #145
Thank u so much mam

On Fri, 19 Mar 2021, 11:00 am Pragati Verma, ***@***.***>
wrote:

[2021-03-19 06:19] K-jais commented on #161
Thank you for assigning me this issue.

[2021-03-19 06:19] K-jais commented on #154
Thank you for assigning me this issue.

[2021-03-19 06:27] AishwaryaArun15 commented on #140
Thankyou so much @AkshaySharma008 , will give my best.

[2021-03-19 06:37] #162 closed

[2021-03-19 06:39] Avnish5 commented on #140
okk sir thank you

[2021-03-19 08:16] K-jais commented on #135
I have added 11 more events. Please look into it PR #176 .

[2021-03-19 08:39] Sreelayavuyyuru opened #181 "To make the entire div clickable"
Having the entire div clickable will make it easy for the users, they don't have to click on the "More info" every time they want to open a page.

Make the entire div clickable so that they can click anywhere inside the box to open the page.

I would like to try implementing this.

[2021-03-19 11:51] hritikgupta92 commented on #150
Sorry,I'll take care from next time

[2021-03-19 13:44] RakeshCharpe commented on #122
I am beginner in open source contribution I would like to contribute in this project please assign it to me.

[2021-03-19 14:54] Goheljay opened #185 "desgin scrollbar"
My name is Jay Gohel. I am a Gssoc Participant.

**Is your feature request related to a problem? Please describe.**
I can design or customize and some changes to the scrollbar.
**Describe the solution you'd like**
I design or customize scrollbar size and color in both dark mode and white mode.

**Additional context**
I would like to try implementing this. So can you assign me?

[2021-03-19 15:03] hritikgupta92 commented on #150
@PragatiVerma18  can you check #186

[2021-03-19 16:24] K-jais commented on #161
Thank you for assigning me this issue.

[2021-03-19 17:11] #177 closed

[2021-03-19 17:15] DhairyaDutt opened #187 "To change text in the search bar"
**Describe the bug**
The text in the search bar is not grammatically perfect.

**Expected behavior**
The text "Search for an event here....." is more appropriate and correct.

so kindly assign it to me if it's worth changing. peace out.

[2021-03-19 17:17] fatma-sia27 commented on #175
Maam should I send a pull request for this??

[2021-03-19 17:29] sonalsingh25 opened #188 "Problem in README.md"
**Describe the bug**
A clear and concise description of what the bug is.
In the README.md "A simple website **with** a collection of open-source" can be changed to "A simple website **which has a** collection of open-source" and also instead of " learn git and contribute to **web projects** ." I guess it should be " learn git and contribute to **various** projects."
**To Reproduce**
Steps to repro

[2021-03-19 17:30] ishuu7 commented on #179
Hey @PragatiVerma18 ! I have made a PR, can you please check it, Thanks.

[2021-03-19 17:53] satcasm commented on #74
Closing the issue as it seems to be fixed already.

[2021-03-19 17:53] #74 closed

[2021-03-19 17:54] priyakumari02 commented on #122
I would like to resolve this issue please assign me this issue

[2021-03-20 03:32] rohank2502 commented on #137
Yes sure I am planning to use the all contributor img tag this look great and don't take much space in read me

[2021-03-20 03:46] DEEPALI-SUK opened #190 "Scroll to Top button on the home page"
**Is your feature request related to a problem? Please describe.**
Yes, Scroll to Top button is not present on home page and content is also more on the home page, so for user convenience scroll to top button should be present.

**Describe the solution you'd like**
I would like to add this as a new feature for the website.

Kindly assign me this issue as a part of GSSOC 2021.

[2021-03-20 03:49] DEEPALI-SUK commented on #190
@PragatiVerma18 @rudrakshi99 Kindly assign me this issue as a part of GSSOC 2021.

[2021-03-20 07:01] #163 closed

[2021-03-20 07:06] Sreelayavuyyuru commented on #181
@PragatiVerma18 Kindly assign this to me.

[2021-03-20 07:35] rudrakshi99 commented on #190
@DEEPALI-SUK Go ahead.

[2021-03-20 07:40] rudrakshi99 commented on #185
@Goheljay You can go ahead. :+1:

[2021-03-20 12:21] parthpandyappp commented on #175
@PragatiVerma18 Do let me know if @fatma-sia27 's PR doesn't satisfy the need. I'm also a GSSoC participant and would like to get this issue assigned to me in such a case.

[2021-03-20 14:39] parthpandyappp opened #191 "`Propose new program` fetaure to add new open-source events to the collection."
**Is your feature request related to a problem? Please describe.**
It's not related to any problem/issue! It's just an enhancement that will bring something lucrative to this project.

**Describe the solution you'd like**
Actually, this is a proposal to the idea for adding a feature `Propose new program` or `Add more programs`, where a user will be able to propose new programs to this web portal m

[2021-03-20 14:44] rudrakshi99 commented on #179
Link your PR with the issue.

[2021-03-20 15:02] #179 closed

[2021-03-20 15:12] #158 closed

[2021-03-20 15:37] Goheljay commented on #185
thank you

[2021-03-20 16:57] ruchikamuddinagiri commented on #181
Are you a GSSOC'21 participant?

[2021-03-20 17:15] #150 closed

[2021-03-20 17:56] #174 closed

[2021-03-20 18:06] abhijeet141 opened #192 "Problem in dark mode section in the website"
**Describe the bug**
There is a problem in dark mode section as on clicking on dark mode the background is not getting dark only the search bar is getting dark and the fonts are becoming lighter

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the website
2. Click on dark mode button
3. See the error

**Expected behavior**
After clicking on dark mode the background should have gone dark

[2021-03-20 18:08] abhijeet141 commented on #192
Hey, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-20 18:47] ruchikamuddinagiri commented on #192
There is another PR #159 on Dark Mode, which will hopefully fix this issue.

[2021-03-20 18:58] avi-01 opened #193 "Not aligned More Info button"
**Describe the bug**
More info button on the events are not aligned together.

**To Reproduce**
Steps to reproduce the behavior:
1. The More Info button on the first page of the website.

**Expected behavior**
More event button should be aligned together.

**Screenshots**
![image](https://user-images.githubusercontent.com/47080952/111882536-33373a80-89dc-11eb-92ec-2f9074859b8f.png)

[2021-03-20 19:58] parthpandyappp commented on #191
Hii @ruchikamuddinagiri, what type of information is expected further?

[2021-03-20 20:35] K-jais commented on #161
Review this pull request as I have added the contact us and the social media icons in the footer section.

[2021-03-20 20:36] K-jais commented on #161
PR #194

[2021-03-20 22:37] osamamagdy opened #195 "Searching by name must have the exact spelling"
Hey, I am a GSSoC 2021 participant and I would like to fix the bug described below so can anyone assign it to me?

**Describe the bug**
When you search for an event by name it must contain the same spelling or at least the same substring for example if we have an event that contains the word javascript and in the search bar we typed java script instead we won't be able to see the event at all.

**

[2021-03-20 22:38] osamamagdy commented on #195
@deshraj @spyshiv @sehgalayush1 @singhsterabhi could you assign this to me as a GSSoC 2021 participant?

[2021-03-21 04:52] #138 closed

[2021-03-21 04:57] rudrakshi99 commented on #175
Yes, open a pull request and add a demo video/screenshots in its description. Also, make sure you will link your pull request to the issue.

[2021-03-21 05:01] Goheljay commented on #185
https://github.com/DSC-JSS-NOIDA/foss-events/pull/196 I have successfully sent PR. Please check it out

[2021-03-21 05:05] #185 closed

[2021-03-21 06:06] raks924 commented on #136
I am GSSOC'21 participant. Kindly assign this issue to me. I would love to work on this as my first PR

[2021-03-21 06:12] raks924 commented on #191
I am a GSSOC'21 participant. I think i can fix this assue . Kindly assign this issue to me.

[2021-03-21 07:47] avi-01 commented on #193
I have made changes to fix the issue. Please have a look into it.

[2021-03-21 08:23] Sreelayavuyyuru commented on #181
Yes, I am

On Sat, 20 Mar 2021, 22:27 Ruchika, ***@***.***> wrote:

[2021-03-21 09:43] #193 closed

[2021-03-21 10:59] ANSHIKA1806 commented on #188
@PragatiVerma18
Hello mam, please assign this task to  me , I am good in this . I would love to contribute in this project.

[2021-03-21 11:03] ANSHIKA1806 commented on #187
@PragatiVerma18 @rudrakshi99 @AkshaySharma008 @ruchikamuddinagiri
Please assing this task to me , I am good in this task , I had done this type of task earlier . I would love to contribute in this project.

[2021-03-21 11:14] ANSHIKA1806 commented on #153
@PragatiVerma18 @ruchikamuddinagiri @rudrakshi99 @AkshaySharma008
Please assign this task to me , I am good in this task , I had done this type of task earlier . I would to contribute in this project.
Get in touch section is very important part of any website ,it helps user to connect more .
![getintouch](https://user-images.githubusercontent.com/71966377/111902668-92d92880-8a64-11eb-82f3-c3bbe9d2

[2021-03-21 11:23] DEEPALI-SUK commented on #190
@rudrakshi99 Kindly review my PR.

[2021-03-21 13:08] DhairyaDutt commented on #187
@PragatiVerma18 @rudrakshi99 i have already made the changes, plz assign this issue to me

[2021-03-21 13:53] bilal-23 opened #199 "Opacity and Scale changes when we hover over 'more info' button"
I would like to add a feature , that is when we hover over the 'more info' button inside the card, its opacity will change and its scale will be increased by a 1.05.

[2021-03-21 15:26] sonal251001 commented on #188
Hey @PragatiVerma18 I opened the issue first if the change is required then please assign it to me.

[2021-03-21 17:30] Diksha-11 opened #200 "Adding meta tag with attribute http-equiv content-type"
I would like to add a meta tag containing attribute "http-equiv" and "content-type" in /index.html.

As "http-equiv" attribute set is similar to the http header. Thus, it should be there in the Foss-events.
Along with that "http-equiv" with "content-type" allows us to specify the media type and character set.

Thus, I request maintainer to please /assign me this issue.

~ @rudrakshi99

[2021-03-21 17:42] #190 closed

[2021-03-22 05:02] ruchikamuddinagiri commented on #191
Hi, how would you implement the form? Will it be linked to a new webpage? Have assigned this issue to you. You may start working on it and make a PR.

[2021-03-22 05:50] K-jais commented on #161
PR #201

[2021-03-22 06:35] Goheljay commented on #190
@rudrakshi99 I have code for scrollbar and PR it. But right now not display my PR and also not listed my profile in contributor list. why?
Please Give me an answer?
My PR is considered or not in gssoc?

my PR is https://github.com/DSC-JSS-NOIDA/foss-events/pull/196

[2021-03-22 08:21] #181 closed

[2021-03-22 10:00] ShrastiPachauri opened #202 "frontend-dark theme modification"
In the dark theme content of the events are not readable.

I want to change the look in the dark theme so that it becomes readable and user-friendly.

So I request the maintainer to please assign this task to me.
@rudrakshi99

[2021-03-22 14:01] fatma-sia27 commented on #175
@rudrakshi99  @PragatiVerma18  Maam since Iam making about page so it require some information about "FOSS EVENT" . So will you provide me this information or I should code it in the form of lorem ipsum ??
Thank you

[2021-03-22 15:00] DhairyaDutt opened #204 "Make the whole div clickable"
**Describe the solution you'd like**
On clicking the entire div OR 'more info' button, the action will be taken

[2021-03-22 15:01] DhairyaDutt commented on #204
@ruchikamuddinagiri If this feature useful for the site, kindly assign it to me. Peace out.

[2021-03-22 16:23] tend2infinity opened #205 "Update readme for a particular format of start dates and end dates to be added in events.json"
**Referring to issue #170**
The start dates and end dates for any event should be strictly in dd/mm/yyyy format so that the filter as referred in issue #170 should work. Moreover, this is like a standard format for writing dates, so I would like to include that in readme.
Please assign this issue to me, I am a GSSOC participant.

[2021-03-22 16:54] Avnish5 commented on #187
Kindly assign this task to me under GSSOC 2021.

[2021-03-22 17:09] Ayushee11 opened #206 "Updating information about Google Season Of Docs in events.json file"
Adding information regarding Google Season Of Docs,its timeline,mode and organizations.
Please assign this issue to me.
@ruchikamuddinagiri @AkshaySharma008

[2021-03-22 17:28] gayatri517 opened #207 "Changing navbar to mobile friendly screens"
I want to change the navbar to mobile friendly screens as well that is, when the screen gets shorter in size instead of the navbar just showing the contents as it, I want to make them toggle when the screen reduces in size.
Like this-
![navbar](https://user-images.githubusercontent.com/70585276/112031912-dc5b6d80-8b61-11eb-97de-2bda3da7c794.png)

I want to work on this issue as a participant of GS

[2021-03-22 18:44] #170 closed

[2021-03-22 19:00] #199 closed

[2021-03-22 19:08] ruchikamuddinagiri commented on #204
Hi, this feature has already been implemented as per my knowledge. Please look for other issues that you can contribute to.

[2021-03-22 19:08] #204 closed

[2021-03-22 19:12] ruchikamuddinagiri commented on #207
Hi @gayatri517, thanks for the issue but since there is just a dark/light mode toggle on the navbar currently, a toggle for the navbar does not seem necessary. Please look for other issues that you might be interested in. Happy contributing!

[2021-03-22 19:13] #207 closed

[2021-03-23 07:38] simranbhalla3 commented on #200
Hi i am a gssoc participant , can i work on this issue? @ruchikamuddinagiri

[2021-03-23 07:38] simranbhalla3 commented on #206
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:39] simranbhalla3 commented on #175
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:39] simranbhalla3 commented on #161
Hi i am a gssoc participant , can i work on this issue? i have experience in css,js

[2021-03-23 07:48] ruchikamuddinagiri commented on #200
This issue has already been assigned. Please look for some other issue that you might be interested in. Happy contributing!.

[2021-03-23 09:08] Alenjojo opened #212 "Adding Authentication"
**Is your feature request related to a problem? Please describe.**
By adding an Authentication it would be useful for user to make their own account and show respective events. Not only that the
datas can be stored in cloud

**Describe the solution you'd like**
Firstly i think i'll add firebase Authentication

**Describe alternatives you've considered**
Or else i can add MonogoDB to it

Kindly ass

[2021-03-23 09:21] Alenjojo opened #213 "Adding Position Aware effect to More Info"
**Is your feature request related to a problem? Please describe.**
The current button just bounces and doesn't meet the user experience.

**Describe the solution you'd like**
I can add CSS and js codes to make it more interactive

**Describe alternatives you've considered**
Else there are alot of button animation so i could chose anyone from it.

[2021-03-23 11:09] A7abhilash commented on #66
Any thoughts of using ReactJS?

[2021-03-23 12:27] rudrakshi99 commented on #175
@fatma-sia27 **FOSS**  is basically **Free and Open Source Software**. There are lots of information available on the internet. If you want to know about this in-depth then do refer to [this](https://itsfoss.com/what-is-foss/) or else try to search about it.

[2021-03-23 13:15] Muskan-creator commented on #145
I would like to make website responsible as a part of GSSOc'21 contributor.Please assign this issue to me

[2021-03-23 13:20] Tanu-priya-Roy commented on #145
It's already assigned to me.

On Tue, 23 Mar 2021, 6:45 pm Muskan, ***@***.***> wrote:

[2021-03-23 13:22] Muskan-creator commented on #206
I would like to work on this issue.Please assign it to me

[2021-03-23 14:05] Muskan-creator opened #215 "Make modifications in title of event"
The title of event described in event cards looks boring.We can change its appearence  to make it look  more attractive which is responsive to event card .

[2021-03-23 14:06] Muskan-creator commented on #215
Please assign this issue to me

[2021-03-23 19:56] parthpandyappp commented on #191
Yes @ruchikamuddinagiri It'll be linked to a new webpage. Well, I'm planning things! Do you have any suggestions?

[2021-03-24 04:49] AkshaySharma008 commented on #202
Hey @ShrastiPachauri, already one participant is working on the same issue. Connect with either Abhijeet or check issue #192, if you think you are doing other things than what is there in this PR, then do mention it here, I will be happy to move ahead.

[2021-03-24 05:22] AkshaySharma008 opened #216 "BACKEND FRONTEND INTEGRATION"
**Is your feature request related to a problem? Please describe.**
At present, we have 2 branches, i.e Master(Frontend) and Backend branch differently. The hosted URL contains only the frontend part, i.e. it's static right now.
While on the other hand, we have another branch Backend, which contains few APIs and other requirements.
I want to make this a dynamic 3 tier application in which backend a

[2021-03-24 05:26] avi-01 opened #217 "Feature: Add event status filter"
**Is your feature request related to a problem? Please describe.**
If anyone want to see only the online event or want to check out the offline event then they need to go through all the event and check the event status.

**Describe the solution you'd like**
Add a filter to choose event status

[2021-03-24 05:28] Muskan-creator commented on #215
Thanks for assigning

[2021-03-24 05:58] K-jais commented on #216
We can use MongoDB database in the backend and in that we will make a events schema which will store the details of events just like in json file and when the database is created we can fetch the data dynamically from database in the backend server.

[2021-03-24 06:26] AkshaySharma008 commented on #216
Hey @K-jais, this all thing is already developed in our backend branch, Have a look. I am more interested in integrating both of them.

[2021-03-24 07:47] K-jais commented on #216
In integrating the frontend and backend we will still use live-server or we will then shift to Nodejs in running it as Nodejs, Expressjs, and MongoDB works efficiently together.

[2021-03-24 08:00] AkshaySharma008 commented on #216
Yes very true, We will be using NodeJS for the backend part. Have a look at the code of the backend branch.

[2021-03-24 09:08] oneknucklehead opened #220 "hover effect on the github logo"
**Describing the bug**
The Github Logo on the top right corner does not have a hover effect on it

[2021-03-24 09:09] oneknucklehead commented on #220
/assign
Can I get assigned to this issue under GSSoC'21?

[2021-03-24 14:06] iampranavdhar opened #222 "Events are not showing"
Hey!
The events are not being rendered on the website when I run in locally by doing `npm start`.Can you look into it and if possible assign it to me I would like to work on it.
Thanks.

[2021-03-24 14:16] rudrakshi99 commented on #187
Where you have resolved the merge conflicts? I am not able to find it in your linked PR.

[2021-03-24 14:54] Ayushee11 commented on #206
@ruchikamuddinagiri please check #223

[2021-03-24 17:08] abhijeet141 commented on #192
Thank You for assigning this to me 🙂

[2021-03-24 17:53] AkshaySharma008 commented on #215
Hey @Muskan-creator, please explain what you have done and attach a screenshot of the UI Changes which you have developed.

[2021-03-24 18:22] kavita1403 commented on #166
I'm very much interested to work on it. I would like to work on it.
I can change the appearance of the cards by adding CSS.
We can make the website user friendly by providing different options to users to change the theme and font styles.
Please assign this to me.
Thankyou!

[2021-03-24 18:31] K-jais commented on #216
If we can merge the code from the frontend and backend in another branch and then just use the Ejs file in place of the HTML file and then render that Ejs file in that route, then we can integrate it.

[2021-03-24 18:33] K-jais commented on #216
Is it possible, if we can use a file from another branch or we have to merge the two branches in another branch?

[2021-03-25 00:37] A7abhilash commented on #216
@AkshaySharma008  Please refer the issue #66 , I had already asked to migrate to react for better performance...

[2021-03-25 00:38] A7abhilash commented on #216
Does this really gonna work?? Just curious to know....

[2021-03-25 05:54] K-jais commented on #216
Yes, it will work. Till now I have used this technique only in my projects to integrate frontend with backend.

[2021-03-25 06:30] ruchikamuddinagiri commented on #212
Hi, there is backend branch of the repository. Please go through it and raise an issue for any features/improvements.

[2021-03-25 06:32] ruchikamuddinagiri commented on #222
Hi,
It is working fine on my setup. Please attach screenshots of any errors that you might be getting.

[2021-03-25 06:39] fatma-sia27 commented on #175
Ook thank you , I will do that.

[2021-03-25 08:53] shivani532 commented on #109
Hey, I would like to contribute to this project. Project mentor could you please assign this me

[2021-03-25 10:56] iampranavdhar commented on #222
Now it's solved previously, Events are not being displayed on the web page there is an error in the JSON file, so events are not being fetched it's a small error.

[2021-03-25 10:56] #222 closed

[2021-03-25 11:43] Inventor77 commented on #192
@abhijeet141  Are you still Working on this issue ?

[2021-03-25 12:12] Inventor77 opened #227 "Adding some smooth and clear Animations to Theme(Dark and Light mode ) Toggle button"
**The Problem**
On larger Screen Resolution  Components of navigation bar is smaller specifically toggle button and not clear and smooth animation while toggling theme

**The solution**
I can resize the navbar components also fixing the size ratio problem and can add more defining animation

**Additional context**
Can Mentors overlook on this and feels worth changing  Please assign me this issue a

[2021-03-25 12:37] romasinha commented on #227
I have an idea how to go about this, can I work on this issue?

[2021-03-25 13:10] Muskan-creator commented on #215
I have chanced the title showing on event card.IT changes its color and size on hover effect.I have created a PR
![fossevents](https://user-images.githubusercontent.com/59757988/112477741-532e7b80-8d99-11eb-9eda-8148ae9dd0bb.png)

[2021-03-25 13:15] SrishtiSingh2001 opened #228 "To Provide required links to mail and location in Contact Us Section"
**Is your feature request related to a problem? Please describe.**
There is no link attached to contact us section in footer so that on one click user is prompted to send mail and can go to the site of DSC JSS Noida respectively.

**Describe the solution you'd like**
This is to add desired links to mail and location in contact us section to make required navigation easier on a single click.

[2021-03-25 14:42] unnati914 commented on #228
Please assign this issue to me

[2021-03-25 14:43] #217 closed

[2021-03-25 15:20] tanviweb19 commented on #228
@SrishtiSingh2001 please assign this issue to me

[2021-03-25 15:30] Nirpendra09 commented on #228
I want to work on this as a gssoc'21 participant. Kindly assign it to me

[2021-03-25 15:30] tanviweb19 commented on #206
please assign this to me,I would like to work

[2021-03-25 15:36] SrishtiSingh2001 commented on #228
/assign
I myself is a GSSOC'21 Participant. Mentors, kindly assign this issue to me which I had opened under GSSOC.

[2021-03-25 15:45] tanviweb19 commented on #205
please assign this work to me

[2021-03-25 15:52] ShrastiPachauri commented on #202
ok ......I will try to figure out if I could contribute to a different issue

[2021-03-25 18:05] Ratnesh4193 opened #229 "Adding Preloader and smooth transition on toggle buttons"
Will Improve dark mode , add preloader and smooth transition on toggle buttons.

@SrishtiSingh2001 please assign this issue to me

[2021-03-25 18:12] SrishtiSingh2001 commented on #228
@ruchikamuddinagiri @AkshaySharma008

[2021-03-26 04:04] kumarishalini6 opened #232 "Improving navbar"
I have seen someone is creating home page , about us page so i guess there should be direct link to that page in navbar
and navbar should be more attractive according to project. i would like to work on this issue can you assign this to me under GSSoC'21.

[2021-03-26 05:18] promaroy opened #233 "add mongoose event listeners for connected, reconnected, disconnected and error."
**Is your feature request related to a problem? Please describe.**
It's helpful for the developers to be updated with the status of mongoose connection.

**Describe the solution you'd like**
Adding event listeners for mongoose, displays the current connection status of database on the console.
It will contain event listeners for connected, reconnected, disconnected, error.

As a participant of GSS

[2021-03-26 05:19] promaroy commented on #233
Kindly assign me this issue.

[2021-03-26 07:14] ruchikamuddinagiri opened #234 "Adding functional links in contact us section"
**Is your feature request related to a problem? Please describe.**
Adding functional links to the contact us section. Currently, the contact us section links are non-clickable (p tags) and while some of them have the a tag, they are not functional.

**Describe the solution you'd like**
Replace p tags with a tags wherever required. Add corresponding links to them(in href). When they're clicked, the

[2021-03-26 07:34] abhijeet141 commented on #234
Hi, I want to work on this issue I will start working on it as soon as I get assigned!! I am a part of GSSoC'21.
Kindly assign this issue to me!
Discord Username : Abhijeet Sinha(P)
Discord Tag: #4018

[2021-03-26 07:48] Nishayadav-bit commented on #220
hey @oneknucklehead
I would like to work on this issue . please assign to me .
I'm a participant in GSSOC'21.

[2021-03-26 07:49] ruchikamuddinagiri commented on #228
Hi, this feature has been added now, under another issue. Kindly checkout other issues you might be interested in.

[2021-03-26 07:57] Nishayadav-bit commented on #234
Hey ! i would like to work on this issue please assign to me .
I'm a participant in GSSOC'21.

[2021-03-26 08:02] promaroy commented on #233
@ruchikamuddinagiri  please add a level tag to this issue

[2021-03-26 08:07] K-jais opened #235 "Adding 9 events in events.json"
The 9 events are,

1)Digital Ocean Hacktoberfest
2)Season of KDE
3)Open Mainframe Project Mentorship Program
4)Linux Kernel Mentorship Program
5)Redox OS Summer of Code
6)Mozilla Winter of Security
7)Hyperledger Mentorship Program
8)Open Summer of Code
9)Script Winter of Code

[2021-03-26 08:19] Muskan-creator commented on #234
I want to work on the issue please assign it to me as a gssoc contributor

[2021-03-26 08:47] simranbhalla3 commented on #235
Hii , I am a gssoc participant, can you assign this issue to me? I would love to work on this

[2021-03-26 08:49] simranbhalla3 commented on #220
Hii, I am gssoc participant , could you please assign me this issue?

[2021-03-26 08:49] simranbhalla3 commented on #228
Hiii, I am a gssoc participant , Could you please assign me this issue?

[2021-03-26 10:42] SrishtiSingh2001 commented on #228
In contact us section, I want to add links to the mail and location, so that on one click user is prompted to send mail and can go to the site of DSC JSS Noida respectively.
Kindly assign this to me. @ruchikamuddinagiri

[2021-03-26 12:06] krishna-y2000 opened #236 "Added various security features issue"
**Is your feature request related to a problem? Please describe.**
Improves the security of the website.

**Describe the solution you'd like**
Setting various HTTP headers using helmet
Rate limiter so the server won't get overload.
Added mongo sanitize for data sanitization against noSQL query injection
Added xss for data sanitization against XSS.

I have done this before on another gssoc project

[2021-03-26 14:24] Mus2413 commented on #118
Hey, I'm gssoc'21 participant, I would like to contribute in this project. I would be thankful if you can assign this issue to me.

[2021-03-26 17:21] ruchikamuddinagiri commented on #228
Sure. Please change the issue description and title.

[2021-03-26 19:58] SrishtiSingh2001 commented on #228
Yes, Sure. Thank You!

[2021-03-26 20:49] SrishtiSingh2001 commented on #234
@ruchikamuddinagiri  I have already added functionality links to mail and site under issue #228  , kindly assign this issue to me to add functionalities in all social media handles just like I did in mail and site.

[2021-03-26 21:20] abhijeet141 commented on #234
Hi @SrishtiSingh2001 actually @ruchikamuddinagiri has already assigned this issue to me and i will start working on it as soon as i get all the links which i have to add in all social media handles

[2021-03-27 05:35] Alenjojo opened #241 "Changing "Select Event Status" to "All" in Status"
**Describe the bug**
In the status drop down there's only an option to check out offline or online and not both. Instead users will have to click "Select Event Status" which could be really confusing for them.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Top Navigation bar'
2. Click on 'Status'
3. Scroll down to '....'
4. So as you can see instead of Select Event Status it can be c

[2021-03-27 05:48] sandra9711 commented on #121
I'm a GSSOC'21 participant. Kindly assign this issue to me.

[2021-03-27 06:02] iampranavdhar opened #242 "feat: Adding Search Icon"
Hey!
I am Pranavdhar. I would like to add a search icon in the search bar in the search box which looks more appealing and good interactivity for the users.
Thanks

[2021-03-27 07:14] Kritika495 commented on #235
I am interested on working on this issue. Please assign it to me

[2021-03-27 07:21] Kritika495 commented on #220
I would like to contribute on this issue. Please assign it to me

[2021-03-27 13:05] ANSHIKA1806 commented on #187
@rudrakshi99 Please assign this issue to me. I am good at this type of tasks.

[2021-03-27 15:25] DhairyaDutt opened #243 "To make the static info clickable in the contact us section"
**Describe the solution you'd like**
I'll make the phone number, gmail, and the location clickable so that it will be more detailed and helpful to the user to contact.

[2021-03-27 16:38] chiragasawa commented on #220
i would like to work on this please assign me.

[2021-03-27 17:41] AkshaySharma008 commented on #242
Please complete it as soon as possible and send a screenshot of your work and raise PR. All the best.

[2021-03-27 17:44] AkshaySharma008 commented on #241
@Alenjojo assigning you, please update after completing this issue.

[2021-03-27 17:56] AkshaySharma008 commented on #235
@simranbhalla3 assigning this issue to you. Please check and try to complete it soon.
@Kritika495 please check any other issue, as this is a very basic issue and didn't need more people to spend time upon.

[2021-03-27 17:59] AkshaySharma008 commented on #232
@kumarishalini6 can you please send some design around this?

[2021-03-27 18:17] K-jais commented on #235
@AkshaySharma008 sir I have raised this issue so technically should it be assigned to me?

[2021-03-27 18:26] K-jais commented on #235
Just asking sir..

[2021-03-27 18:31] AkshaySharma008 commented on #235
@K-jais  Really sorry for the misunderstanding. Please proceed.

[2021-03-27 18:32] K-jais commented on #235
Yaa sir no problem.
Thank you sir for assigning me this issue.

[2021-03-27 18:39] simranbhalla3 commented on #235
I actually started working on this. so now should I drop it?

[2021-03-27 18:41] AkshaySharma008 commented on #235
@simranbhalla3 connect with @K-jais and work together.

Open source is more about collaboration. Hope it will work.

[2021-03-27 18:45] K-jais commented on #235
Yes, it can be done .
I will pull the request for first 5 events and @simranbhalla3 can pull the request for last 4 or more if she know other events as well.

Is it okay with you @simranbhalla3 ?

[2021-03-27 18:49] simranbhalla3 commented on #235
Yeah sure! I will work on the last 4 . Thanks for co-operating

[2021-03-27 18:50] AkshaySharma008 commented on #235
Good to see the amazing open-source spirit. Looking forward to your wonderful collaboration from both of you.

[2021-03-27 19:11] simranbhalla3 commented on #235
@K-jais Do you have details regarding open summer of code and regarding the application period of hyperledger and script winter of code?

[2021-03-27 19:17] K-jais commented on #235
I have information regarding the Open Summer of Code. But I don't have the information regarding the other two.

{
    "title": "Open Summer of Code",
    "website": "osoc.be/",
    "start": "01/07/2021",
    "end": "31/07/2021",
    "organisation": "Open Knowledge Belgium, Hack Your Future, ID Lab, CogniZone and many more ",
    "location": "Online"
  }

[2021-03-27 19:39] iampranavdhar commented on #242
Hey @AkshaySharma008,
I had solved the issue and had sent a pull request. Hope you have seen it.Thank you for assigning it to me.
Thanks

[2021-03-27 19:42] #242 closed

[2021-03-27 22:30] K-jais commented on #216
Sir may I proceed with this intent?

[2021-03-28 00:12] kumarishalini6 commented on #232
yes i can ,but it's better if i take a look on homepage then according to homepage we should work on navbar's colors ,style etc.

for now i was thinking about this design :-
relax it just a sample , here in left there is a navbar which is controlled by right button .

![COFFEE WORKSHOP ](https://user-images.githubusercontent.com/69043944/112738334-daedc480-8f16-11eb-8e39-912df850d313.png)

[2021-03-28 00:15] kumarishalini6 commented on #232
if you want something more intresting ,or some other style just tell me.

[2021-03-28 07:44] ashish009kum commented on #243
what we actually need to do in this can you please explain a little bit more?

[2021-03-28 07:47] ashish009kum commented on #220
I am ready to work on this issue please assign it to me

[2021-03-28 13:23] vaibhavihaveri commented on #243
Hello i am interested  to work on this issue can u assign me

[2021-03-28 15:34] Sandi-09 commented on #243
Can u assign this issue to me

[2021-03-28 15:36] Sandi-09 commented on #220
Can i work on this issue

[2021-03-28 18:46] #241 closed

[2021-03-28 19:05] bajajanjana commented on #232
I am a Gssoc'21 participant. I want to improve navbar by adding following features to it.
• Bouncing effect in navbar - on scrolling, navbar disappears for a while and then visible again. It's like navbar bounces upside and then again visible and becomes sticky. I'll be doing this using javascript.
• Improvement in font and styling of website name in navbar that is "FossEvents".
• Addition of hove

[2021-03-29 03:27] #215 closed

[2021-03-29 09:15] DhairyaDutt opened #252 "Fix the two search bars and make the text for appropriate"
**Describe the bug**
There are two search bars, we need one

**Expected behavior**
One search bar with appropriate text

[2021-03-29 10:11] AkshaySharma008 commented on #252
This issue is solved, closing this.

[2021-03-29 10:11] #252 closed

[2021-03-29 10:16] rebs-becca15 opened #254 "Spelling Mistake in ReadMe.md file"
**Grammatical error in the readme.md file**

![fossevents](https://user-images.githubusercontent.com/75599919/112822604-c855c580-90a5-11eb-8256-76816235aca1.png)

I would like to correct the error present in the readme.md file under GSSOC'21 as a participant.

[2021-03-29 10:29] RubenFalcao14 opened #255 "No full stop at the end of various sentences in the Read.me."
There is no full stop at the end of various sentences.
I would like to fix the issue by adding the full stop.

I'm a GSSOC'21 participant and I would love to fix the issue.
Thank You.

[2021-03-29 13:13] AkshaySharma008 commented on #232
@kumarishalini6 have you started working on it? I am not clear with what you want to build, can you explain, else @bajajanjana want to contribute so I can assign it to her.

[2021-03-29 13:19] kumarishalini6 commented on #232
Yes I am working on it I will send you the  sample by tomorrow

[2021-03-29 13:21] kumarishalini6 commented on #232
I was thinking of side navbar which is controlled by the right navbar menu and try to add some effects

[2021-03-29 13:24] AkshaySharma008 commented on #232
As of now, we won't be going with the side bar, just work on the same navbar and toggle in the phone. That would be enough.

[2021-03-29 14:49] #243 closed

[2021-03-29 14:50] #234 closed

[2021-03-29 14:51] #227 closed

[2021-03-29 14:52] #192 closed

[2021-03-29 14:55] kumarishalini6 commented on #232
Ok

[2021-03-29 15:13] anisha1208 opened #257 "Add events to events.json"
Hey! I am a GSSOC participant.
I wish to add the following events to the ones listed in events.json :

1. **CrossWoc** : CrossWoC is a six-week long opensource event organised by IEEE DTU & IEEE DTU CS.
2. **DevOps India Summit 2021** : The largest DevOps conference in India.
3. **Google Summer of Earth Engine** :  Research program for Indian university students & researchers, based on the Google

[2021-03-29 16:04] samikshaswayambhu commented on #206
I would like to work on it. I am a GSSOC participant. Please assign me this issue.

[2021-03-30 06:26] iampranavdhar opened #259 "feat: Adding Hover Effects For Navbar Elements"
Hey!
I am Pranavdhar. I had seen all the components are having all the hover effects except those in the navbar. So can we add hover effects to the Navbar elements too?. If you wanna add this please assign it to me =.

### Snapshots:

![image](https://user-images.githubusercontent.com/73348574/112943225-d9a6dc80-914e-11eb-8e1f-00bed7d0fc73.png)

![image](https://user-images.githubusercontent.com/7

[2021-03-30 06:44] DhairyaDutt opened #260 "Adding "About us" section for making the site for informative"
**Describe the solution you'd like**
Add "About us" section to the site, and add "About us", "events", and "contact us" to the navbar which will make the site more detailed.

[2021-03-30 06:48] DhairyaDutt commented on #260
@AkshaySharma008 assign it to me if relevant.

[2021-03-30 07:05] K-jais commented on #216
Sir @AkshaySharma008 should I proceed with this idea ?

[2021-03-30 07:18] vaibhavihaveri commented on #260
I will work on this issue Assign me.

[2021-03-30 08:32] #187 closed

[2021-03-30 08:38] AkshaySharma008 commented on #154
Amazing work @K-jais, closing this issue now.

[2021-03-30 08:39] #154 closed

[2021-03-30 12:39] AkshaySharma008 commented on #257
Few of the events are already available so do check out and check that there won't be any repetition. I am assigning this to you. All the best.

[2021-03-30 16:42] kumarishalini6 commented on #232
i have send PR kindly check

[2021-03-30 17:34] #233 closed

[2021-03-30 18:57] guptapranav4299 commented on #172
Hey @PragatiVerma18 I would like to work on this issue if it has not been resolved for a long time

[2021-03-30 21:32] Naman-1234 opened #265 "Content not aligned Properly."
**Is your feature request related to a problem? Please describe.**
The frontend is looking quite good, But the Text Part (In the screenshot) is looking iregular aligned.
![Screenshot (44)](https://user-images.githubusercontent.com/63748249/113059729-6abc9880-91cd-11eb-8f1d-389dbc9ebcb8.png)

**Describe the solution you'd like**
Proper alignment.
![Screenshot (45)](https://user-images.githubusercon

[2021-03-31 05:43] SundeepChand commented on #172
Hi @guptapranav4299, feel free to work on this.
Sorry for the delay, I could not spare the time to work on this.

[2021-03-31 06:02] Kavs-123 commented on #265
Hey @Naman-1234
Is this issue resolved?

[2021-03-31 06:29] Naman-1234 commented on #265
@Kavs-123  Yes, I have solved the issue and will make a PR as soon as I get assigned.

[2021-03-31 08:45] #206 closed

[2021-03-31 08:47] rudrakshi99 commented on #172
So, will I assign this issue to @guptapranav4299 ?

[2021-03-31 08:52] SundeepChand commented on #172
Yes

[2021-03-31 13:55] kumarishalini6 opened #267 "Adding new open source"
I want to add hectoberfest which is also a type of open source, can i work on it under gssoc21.

[2021-03-31 13:58] #267 closed

[2021-03-31 13:59] kumarishalini6 commented on #267
someone is already working on it sorry

[2021-03-31 14:51] kumarishalini6 opened #268 "Adding feedback form"
There should be a feedback form which is going to tell us how our website is helpful for the users , where  we are lacking . i want to work on this issue asgssoc21 participant

[2021-03-31 15:21] Amit366 commented on #145
@PragatiVerma18 can I work on this issue??

[2021-03-31 15:25] Tanu-priya-Roy commented on #145
I have already been assigned this issue. Please work on an issue that is
not assigned to anyone. See thv tags first.

On Wed, 31 Mar 2021, 8:52 pm Amit Kumar Mishra, ***@***.***>
wrote:

[2021-03-31 17:57] Inventor77 opened #269 "Scroll Progress Bar with Number Percentage"
**New Feature.**
-Scroll Progress Bar with Number Percentage On left side of Page with Increasing or Decreasing Percentage depending on direction of scrolling

**Additional context**
Can Mentors overlook on this and feels worth changing Please assign me this issue and labeling it with gssoc21

[2021-03-31 17:58] Inventor77 commented on #269
@deshraj  @spyshiv  @sehgalayush1 @singhsterabhi  please mentors assign me this issue so I can work on it

[2021-04-01 06:22] #229 closed

[2021-04-01 17:14] RubenFalcao14 opened #273 "Testimonial page for the website."
I would like to add a testimonial page for the website , which is going to display the feedback of various users.

I'm a GSSOC'21 participant and I would love to work on it.

[2021-04-01 17:44] Alenjojo opened #274 "The Event card Expands when hoving over it"
**Describe the bug**
When we hover over the title of the event card it enlarges, but if it is larger than a certain length the card expands and pushes the rest of the cards laying below it.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'the event card'
2. Click on 'Longest Title of the event'
3. See error

**Expected behavior**
It expands all the data inside the particular card and t

[2021-04-02 07:29] #265 closed

[2021-04-02 21:20] Ananyaagupta commented on #259
can i work with @iampranavdhar on this issue?

[2021-04-02 21:20] Ananyaagupta commented on #255
i am a gssoc'21 participant please assign me this issue.

[2021-04-03 23:47] akshay1027 opened #278 "Frontend and backend links (in readme) to open in new tab"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when the links open in the same tab. Frontend and backend links (in readme) to open in a new tab so that the user can easily come back to see the codebase.

[2021-04-03 23:47] akshay1027 commented on #278
would like to work on this!

[2021-04-04 12:06] ayushjha952 commented on #274
@Alenjojo  Are you the project admin this project?

[2021-04-04 12:14] akshay1027 commented on #278
I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:14] #278 closed

[2021-04-04 13:01] vedant-jain03 commented on #259
I want to work in this issue Please assign me

[2021-04-04 13:11] vedant-jain03 opened #280 "When scrolling down, navbar right side is empty"
**Describe the bug**
When we are scrolling down , right-most side of navbar showing empty space of Scroll bar.

**Screenshots**
![bandicam 2021-04-04 18-40-48-894](https://user-images.githubusercontent.com/76901313/113509846-52ee6700-9575-11eb-8279-ae8389bd05e5.jpg)

**Desktop (please complete the following information):**
 - OS: Windows
 - Browser: Chrome

[2021-04-04 13:12] vedant-jain03 commented on #280
Can I work on this I guess I have to change the width or Z-index of navbar

[2021-04-04 13:13] vedant-jain03 commented on #274
I got your point I also tested this Can I work on this issue?

[2021-04-04 15:51] ayushjha952 commented on #274
I am not the project admin?

[2021-04-04 15:52] ayushjha952 commented on #274
That's why I am if it assigned by admin, then I would like to work on this issue.

[2021-04-05 07:12] #260 closed

[2021-04-05 07:15] AkshaySharma008 commented on #280
@vedant-jain03 go ahead. Assigning this to you.

[2021-04-05 07:48] vedant-jain03 commented on #280
@AkshaySharma008 thankyou for assingning
Will get back to you with my PR

[2021-04-05 16:16] Alenjojo commented on #274
@ayushjha952 I'm not the admin of this project. I thought it didn't look matching to the rest of the cards, that's why i opened this issue regarding this topic. If y'all wanna work might have to ask the admin

[2021-04-05 16:18] srishtij2000 commented on #232
Can I work on this issue?

[2021-04-05 16:18] srishtij2000 commented on #145
Can I work on this issue?

[2021-04-05 18:06] Tanu-priya-Roy commented on #145
I have been assigned this issue alreday and I am working on that issue so
please u can search for another issue.

On Mon, 5 Apr 2021, 9:48 pm Srishti Jain, ***@***.***> wrote:

[2021-04-05 20:16] Hrishita99 opened #282 "Adding 3 important missing open source programs in events.json file"
Hello! I am a gssoc'21 participant and i am willing to add the following 3 open source programs in your list -
NJACK Winter of Code by IIT Patna
KWoC by Kharagpur Open Source Society, IIT Kharagpur (KOSS)
BOSS – Bountiful Open Source Summer by Coding Blocks
I need your permission to work on this issue so kindly assign it to me.

[2021-04-05 20:29] Hrishita99 opened #283 "Reporting a bug in the website description"
Hello! I am a gssoc'21 participant and i would like to report one bug in the description that flashes when we open the website. It's mentioned that we will be listing the names of different open source ORGANISATIONS that exist while what we are actually mentioning are the different open source PROGRAMS that take place around the globe. I need your permission to fix this bug so kindly assign this i

[2021-04-06 07:23] meghnabajoria opened #284 "Improve Navbar"
I would like to improve the NavBar. Add Icons for each menu and align them in a more attractive way. Also, I would like to shift the dark mode button to the extreme right as it does not look appropriate when placed in the middle.
@AkshaySharma008 can you assign this issue to me under GSSOC'21.

<img width="1437" alt="Screenshot 2021-04-06 at 12 49 05 PM" src="https://user-images.githubusercontent.

[2021-04-06 08:27] AkshaySharma008 commented on #282
Go ahead and complete this @Hrishita99 .

[2021-04-06 08:28] AkshaySharma008 commented on #283
@Hrishita99, I have assigned you, please proceed. In case, if you need any help, do mention here.

[2021-04-06 08:34] 4kashyadav opened #285 "Improve Contact us section!"
I will improve the contact us section of this website and it will look cool then now!
plz assign me this!

[2021-04-06 09:54] naqeeb2710 commented on #122
Hey, Can I work on this issue?

[2021-04-06 11:04] Swapnil-Gaur opened #286 "Create a Bottom Button"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-06 11:04] Swapnil-Gaur commented on #286
the issue is about adding bottom button so that subscribe can directly reach to the footer.

[2021-04-06 12:01] #122 closed

[2021-04-06 12:15] #156 closed

[2021-04-06 12:16] srisatya1197 opened #287 "Add contributors in readme file"
I would like to add contributors at the bottom of read.me file so that it keep on updating the contributors .Please assign me this issue @AkshaySharma008 .

ADD:

![sc](https://user-images.githubusercontent.com/78905067/113709269-ec498480-96ff-11eb-88b5-ce75a658279d.png)

[2021-04-06 18:32] soulsurya opened #288 "to fix hover effect on card title text"
hello,
I'm Suryakant, in your project I want to improve the  hover effect in card's title, it can be improved to make it more beautiful and appealing.
**Current Issue :** whenever we hover over the card's title it enlarges suddenly and also don't look good.

**To Reproduce:**  Go to any [card](https://fossevents.netlify.app/) and hover over it's title.

**Expected Behavior:** is should animate smo

[2021-04-06 19:06] soulsurya commented on #288
Please assign me this issue under GSSoC'21 label

[2021-04-07 03:39] #282 closed

[2021-04-07 03:39] #283 closed

[2021-04-07 12:32] simranbhalla3 commented on #288
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:33] simranbhalla3 commented on #232
I am a Gssoc participant , please assign me this issue.

[2021-04-07 15:06] DhairyaDutt opened #290 "Overlapping in mobile view"
**Describe the bug**
When we use this website on our mobile phone, the about us and search section is overlapping.

**Expected behavior**
Remove the overlapping.

**Screenshots**
![foss](https://user-images.githubusercontent.com/69465191/113889453-e11a5580-97e0-11eb-96d0-d6bf83ae1553.png)

[2021-04-07 15:06] DhairyaDutt commented on #290
@AkshaySharma008 plz sign this issue to me.

[2021-04-08 14:59] ShrutiOmer opened #291 "When no event in given range start ,must display a message"
**Is your feature request related to a problem? Please describe.**
-When user enters the date that haven't any event, it must display a message "no events found".
**Screenshot**
-As in image it displays no informative message
![image](https://user-images.githubusercontent.com/75009990/114049212-e6db6e00-98a8-11eb-99f9-ba38ed87a3ec.png)

[2021-04-09 09:28] divyanshkhatana opened #292 "Improving the search bar UI"
Hello, I would like to improve the CSS of the search bar and give it a better look. Also, I would like to rename certain fields like "range start" to "start date" to give a sophisticated look.
@AkshaySharma008 can you assign this issue to me under GSSOC'21.

![image](https://user-images.githubusercontent.com/44130452/114159466-733a6f00-9943-11eb-8a39-820864d91f55.png)

[2021-04-09 12:44] #291 closed

[2021-04-09 13:16] ShrutiOmer opened #294 "Display message for enter a valid event in the search bar"
**Is your feature request related to a problem? Please describe.**
When user enters the invalid event a message must be displayed "no such event name exists"
Please assign it to me.

![image](https://user-images.githubusercontent.com/75009990/114185870-d3410d80-9963-11eb-9d7d-811ef324ab66.png)

[2021-04-09 14:13] Ayushgup85 commented on #123
is this issue still open?If open i would like to work on this issue

[2021-04-09 14:40] #294 closed

[2021-04-09 15:36] shonali2600 opened #296 "Make autocomplete off in contact us section"
**Is your feature request related to a problem? Please describe.**
while entering name or mail id in contact us section it shows some autocomplete option that is irrelevant.

**Describe the solution you'd like**
i would like the make the autocomplete option off.

Please assign this issue to me as a gssoc participant

[2021-04-09 15:45] shonali2600 opened #297 "While hovering over the cards it scales out it so much"
**Describe the bug**
While hovering over the cards having large event name, it scales out so much that it doesn't look good.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'event cards'
2. hover on the first event name (similar things happens to many other cards too)
3. See the problem

**Desktop (please complete the following information):**
 - OS: [windows10]
 - Browser [chrome]

I

[2021-04-10 08:10] raks924 commented on #292
can i work on this issue?

[2021-04-10 08:12] raks924 commented on #228
can i work on this issue?

[2021-04-10 16:23] ambivert-sam commented on #292
@AkshaySharma008 I want to contribute on this issue can I work?

[2021-04-10 16:26] ambivert-sam commented on #175
Hi, I am a GSoC participant, can I work on this issue?

[2021-04-11 00:17] AB-san opened #299 "Adding a github action to auto-add "GSSOC21" label"
Adding labels to the issues are a extra piece of work for the maintainers , so we can use  GitHub actions to reduce the work of maintainers.

Through github actions we can -
1}automatically add "GSSOC21" label on the each opened issue or
2)just add the tag "GSSOC21" for the issues in which the contributor has mentioned that he/she is working on a particular issue under gssoc/GSSOC/(any other synon

[2021-04-11 00:17] AB-san commented on #299
I would like to work on this issue

[2021-04-11 12:41] Khushi-agarwal opened #300 "Improvement in the events cards"
**Describe the solution you'd like**
The events cards can be improved by the hover effect and flip card animation effect also can be used.

@AkshaySharma008 please assign it to me.

[2021-04-11 14:41] meghnabajoria commented on #284
Hi @AkshaySharma008.Do you want me to make any more changes in the Navbar?
<img width="1437" alt="Screenshot 2021-04-11 at 8 10 00 PM" src="https://user-images.githubusercontent.com/50470784/114308553-015c5400-9b02-11eb-8a5e-6536af967f3f.png">

[2021-04-11 17:14] AkshaySharma008 commented on #300
Flip cards won't look much good, if you think so can you send some samples like images/gifs?

[2021-04-12 14:30] AB-san opened #302 "Automatic thank you message for the contributors after their pr is successfully merged"
![image](https://user-images.githubusercontent.com/71064674/114411267-a42bd580-9bc9-11eb-9813-5504620053d4.png)

If  you like to have a bot which can send auto-message to the contributors after their pr is successfully merged then please assign me to work on this !! :)

[2021-04-12 14:32] AB-san commented on #302
I would like to work on this issue under GSSOC

[2021-04-12 14:41] gnikita432 opened #303 "fonts are too small in mobile-view (front end)"
**Describe the bug**
A clear and concise description of what the bug is.
fonts are too small in mobile-view (front end)
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'website right click'
2. Click on 'inspect'
3. Scroll down to 'mobile view'
4. See error
![fossevent](https://user-images.githubusercontent.com/61223163/114412864-1f41bb80-9bcb-11eb-981e-a7992bc745b2.PNG)
![fossevent1](ht

[2021-04-12 14:42] Khushi-agarwal commented on #300
@AkshaySharma008 This is the gif of how the flip card would look.Kindly have a look.
![Testimonial](https://user-images.githubusercontent.com/76625662/114413151-5912c200-9bcb-11eb-972b-90981bd45714.gif)
I had made for another project.

[2021-04-13 09:29] AkshaySharma008 commented on #300
These are not looking good, Our website is quite simple and informative, this looks too slow and funky. As of now, this modification is not needed, if you think you have some good design in your mind then do mention it here. Else try to work on some other issues.

[2021-04-13 10:00] divyanshkhatana opened #305 "Issue with search bar in mobile mode"
The search bar and text is collapsing in mobile mode
![image](https://user-images.githubusercontent.com/44130452/114534828-07227880-9c6d-11eb-8cf2-08119cc314be.png)

[2021-04-13 10:04] divyanshkhatana commented on #305
@AkshaySharma008 please assign this issue

[2021-04-13 10:48] divyanshkhatana commented on #305
@AkshaySharma008  I have completed it please assign me this under gssoc21  .So that I can merge it
![image](https://user-images.githubusercontent.com/44130452/114540999-cc700e80-9c73-11eb-901f-2421457979b1.png)

[2021-04-13 11:07] yash0501 commented on #305
@divyanshkhatana  this issue is assigned to you and you  can create a PR on it once the code part is done.

[2021-04-13 14:39] tarunsinghofficial opened #310 "Add links to footer DSC logo and header fossevents text"
**Describe the bug**
We can add the home page/ Contributing GitHub link to foss events header text and in the footer, we can add a DSC JSS [link](https://www.dscjss.in/) to the image also.

[2021-04-13 19:20] avanisingh0105 opened #311 "Slack link not working"
**Describe the bug**
The slack channel link is not working in README.md as it says  `This link is no longer active`

![image](https://user-images.githubusercontent.com/61081535/114607877-ae79cc80-9cba-11eb-9c48-ac88a0109d24.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://github.com/DSC-JSS-NOIDA/foss-events#slack-channel'
2. See error

**Expected behavior**
The link shoul

[2021-04-14 07:29] #145 closed

[2021-04-14 07:30] Tanu-priya-Roy commented on #145
Made the website responsive.

[2021-04-14 09:25] divyanshkhatana commented on #305
@yash0501 I have created the PR kindly check

[2021-04-14 15:24] Inventor77 commented on #269
@ruchikamuddinagiri Mam I have already PR for this issue please would you merge the PR

[2021-04-14 18:32] meghnabajoria opened #314 "Improve menu icons on NavBar"
Previously, I improved the layout of the Navbar. I wish to use better menu icons in the Navbar.
@AkshaySharma008  please assign this issue to me under GSSOC'21.

<img width="1426" alt="Screenshot 2021-04-15 at 12 01 51 AM" src="https://user-images.githubusercontent.com/50470784/114761223-d1b98000-9d7d-11eb-8174-e3d133464ade.png">

[2021-04-15 04:15] AkshaySharma008 commented on #305
Successfully Merged, All the best, Keep Contributing.

[2021-04-15 04:15] #305 closed

[2021-04-15 04:22] AkshaySharma008 opened #315 "Loading Animation is not Responsive - Mobile View"
**Describe the bug**
Loading Animation is not Responsive - Mobile View

**To Reproduce**
Steps to reproduce the behavior:
1. Go to website link in mobile view (use Chrome Dev Tools)
2. Click on Refresh Page
3. See an error

**Expected behavior**
Loading Animation is not Responsive - Mobile View

[2021-04-15 04:22] AkshaySharma008 commented on #315
Those who are interested, Please check.

[2021-04-15 04:44] #303 closed

[2021-04-15 05:28] ipranshujain commented on #315
I want to work on it. Please assign it to me.

[2021-04-15 05:37] ipranshujain commented on #315
Sir I have solved this issue. Can I make PR now?

[2021-04-15 05:41] AkshaySharma008 commented on #315
@ipranshujain, please proceed and generate a PR.

[2021-04-15 06:20] #315 closed

[2021-04-15 07:29] AkshaySharma008 commented on #297
@shonali2600  What kind of solution you are planning for this?

[2021-04-15 08:08] ShrutiOmer opened #318 "Adding a confirmation message that your query is submitted."
**Is your feature request related to a problem? Please describe.**
 In contact us Section when user Submit the query, there is no thanking or confirmation message .I want to add confirmation message when user submit its query.

Please assign this issue to me.

[2021-04-15 08:56] ShrutiOmer opened #319 "Want to add social icons to the right of page."
**Is your feature request related to a problem? Please describe.**
Instead of adding the social icons in contact us ,we can add them in left side of page. Something like this.

![icons](https://user-images.githubusercontent.com/75009990/114842480-81323900-9df6-11eb-8a7e-a13fdeef06d0.png)
 Please assign me this issue

[2021-04-15 09:11] shonali2600 commented on #297
@AkshaySharma008 I will change its property while hovering. I will change font size on hovering(less than previous one)

[2021-04-15 09:16] shonali2600 opened #320 "Some labels are not visible in dark mode"
**Describe the bug**
When dark mode is on, some labels like Event Start and End date are not visible.

**Expected behavior**
It should be converted to black when dark mode is on.

**Screenshots**
![dark](https://user-images.githubusercontent.com/57946528/114845311-4d0c4780-9df9-11eb-942d-a4aa66102b43.png)

**Desktop (please complete the following information):**
 - OS: [Windows10]
 - Browser [chro

[2021-04-15 10:03] DhairyaDutt opened #322 "Search icon is not showing in the search bar"
@AkshaySharma008 plz assign this issue to me

[2021-04-15 10:05] DhairyaDutt commented on #290
This issue is already merged. Wrote this, just to remove any confusion.

[2021-04-15 12:57] priyakumari02 commented on #314
I am interested in this issue please assign me this issue.

[2021-04-15 12:59] meghnabajoria commented on #314
It has already been assigned to me :)

[2021-04-15 13:08] priyakumari02 commented on #314
Then i cannot contribute in this?

[2021-04-15 13:15] priyakumari02 commented on #322
@AkshaySharma008 I want to contribute into this . Please assign me this issue

[2021-04-15 15:12] aditidewangan commented on #172
I would like to work on this issue. I give it better color which is visible in dark mode. Please assign me because it seems that the issue is not resolved.

[2021-04-16 06:11] aditidewangan opened #324 "The Filter Labels and Footer text are not visible in dark mode"
**Describe the bug**
The Filter Labels and Footer text are not visible in dark mode.

**Expected behavior**
I want to add different color so it should visible in dark mode as well as light mode.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![WhatsApp Image 2021-04-16 at 11 19 52 AM](https://user-images.githubusercontent.com/76042201/114979311-45f04280-9ea8-11eb-87

[2021-04-16 10:57] aditidewangan commented on #324
Please assign me this issue I want to work on it.

[2021-04-17 02:32] #296 closed

[2021-04-17 02:34] #320 closed

[2021-04-17 02:36] #297 closed

[2021-04-18 02:00] dig9074vijay opened #327 "Adding Favicon"
**Is your feature request related to a problem? Please describe.**
I noticed that the site doesn't contain a favicon.

**Describe the solution you'd like**
I'd like to add a favicon as a GSSOC'21 participant.

**Additional context**
<img width="444" alt="Screenshot 2021-04-18 at 7 27 50 AM" src="https://user-images.githubusercontent.com/55308273/115131717-dac57e00-a017-11eb-859f-ca0e23058624.png">

[2021-04-18 14:11] Inventor77 commented on #227
@ruchikamuddinagiri  mam points for this PR is not added please can you assign level to it.

[2021-04-19 20:13] #299 closed

[2021-04-21 12:04] itsij opened #328 "Improving navbar"
I would like to change the background color of the navbar to green instead of the current color: black. This will enhance the visual appearance of the website. Here it is:
The visual appeal of green color in navbar is clearly evident.

![image](https://user-images.githubusercontent.com/72145053/115544370-20a46f80-a2c0-11eb-8607-f209689f2461.png)
![image](https://user-images.githubusercontent.com/7

[2021-04-21 17:11] #280 closed

[2021-04-21 17:15] #172 closed

[2021-04-21 17:44] itsij opened #330 "Rectifying issue in footer"
In the footer, this is written: "Made with ❤ By DSC JSSATEN"
But in dark mode, "Made with ❤ By" is barely visible.
![image](https://user-images.githubusercontent.com/72145053/115595936-29636880-a2f5-11eb-879d-81cd159f53b4.png)
   **Desktop**
 - OS: Windows
 - Browser: Chrome
 - Version:  90.0.4430.85

Please assign this issue to me. I would like to work on improving it as GSSOC participant.
@Aksha

[2021-04-22 06:50] AkshaySharma008 commented on #328
@itsij I don't think, it's needed. We have implemented our theme.

[2021-04-22 06:53] #319 closed

[2021-04-22 13:09] itsij commented on #328
@AkshaySharma008 I noticed those social media icons as new additions today and still feel that maybe green can suit better. Please give it a look again.

I want to make it look like below attached initial two pictures instead of bottom two pictures.

I have made a change in the color of theme toggle button also in dark theme so that it does not look bad after making the navbar color green.(see pho

[2021-04-23 04:40] rudrakshi99 commented on #330
This issue is already get solved in #172

[2021-04-23 05:00] #330 closed

[2021-04-23 05:16] itsij commented on #330
@AkshaySharma008 though you have merged my PR but still the footer text is not grey. It is red currently because it was made red in issue #172 , just a few hours ago before i made my PR. using a different class selector than the one i did
So, shall i make a PR again converting it to grey?

[2021-04-23 12:57] SamikshaSankar commented on #273
Hey !! I am a participant of GSSOC'21 , can you assign this issue to me?

[2021-04-23 13:07] SamikshaSankar opened #334 "Testimonial slider"
In this slider we can insert journey of Open Source Enthusiast  -(Content part) How Open source programs help student to build projects.

[2021-04-24 12:16] #328 closed

[2021-04-26 05:46] NipuniKodithuwakku commented on #327
/assign

[2021-04-26 12:31] sreetu opened #336 "Login and SignUp Page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
To add login and signup feature to the site.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
To add login and signup options in the navbar.

**Describe alternatives you've considered**
A cle

[2021-04-26 19:15] ShrutiOmer opened #338 "without adding data contact us form is get submitted"
**Describe the bug**
In contact us section form is submitting without entries.
please assign this issue to me.

[2021-04-27 12:35] #164 closed

[2021-04-28 01:18] NipuniKodithuwakku commented on #327
can I work on this issue?

[2021-04-28 01:19] NipuniKodithuwakku commented on #322
can I work on this issue?

[2021-04-29 09:54] ruchikamuddinagiri commented on #311
Hi, did you find this link in the documentation or the website?

[2021-04-29 09:56] ruchikamuddinagiri commented on #311
@PragatiVerma18 Could you help out with the correct Slack channel link?

[2021-05-01 03:06] NipuniKodithuwakku commented on #259
can I work on this issue as GSSOC21 participant?

[2021-05-02 05:30] abhijeet141 commented on #284
@meghnabajoria Are you still working on this issue else i would like to work on this issue

[2021-05-02 07:33] meghnabajoria commented on #284
I have already contributed in this and it has been merged. @AkshaySharma008 can you please close this issue?
@abhijeet141, maybe you can create another issue on improving navbar and contribute in that. :)

[2021-05-02 11:52] gayatri517 opened #340 "Adding main header text with changing gradient colour"
I want to add main header text "FOSS EVENTS" that keeps changing its gradient colour in different shades.
Please assign it to me.
@ruchikamuddinagiri

[2021-05-03 05:06] AbhipsaGuru1012 opened #341 "Enhancement in contact-us form"
**Describe the bug**
The label and the placeholder in input fields is not aligned properly. I would like to fix that

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Proper alignment of label and placeholder

**Screenshots**
![fossevents](https://user-images.githubusercontent.com/58511560/116842784-5cf

[2021-05-03 14:06] AB-san commented on #302
@ruchikamuddinagiri  Mentors if you want this feature then plz assign me the issue or else close the issue

[2021-05-03 15:34] anushka-srivastava22 commented on #273
Hi I am a gssoc participant. I would love to work upon it so can you assign this issue to me.?

[2021-05-03 15:40] SamikshaSankar commented on #334
@ruchikamuddinagiri For this I required  experienced  & photo of contributor..Where I get this?

[2021-05-03 19:55] Furquan712 commented on #216
I would like to work on this , Will you assignee me

[2021-05-04 17:09] Furquan712 commented on #205
I would like to work on this issue, will you assign me ?

[2021-05-04 17:10] Furquan712 commented on #336
I would like to work on this issue, will you assign me ?

[2021-05-04 17:22] Furquan712 commented on #292
I would like to work on this issue, will you assign me ?

[2021-05-05 01:06] Yunika-Bajracharya opened #344 "Adding a new open source program"
I would like to add **Hyperledger Mentorship Program**

I am a GSSOC'21 participant. Can you assign this to me?

[2021-05-05 19:27] K-jais commented on #216
@AkshaySharma008 sir now can I proceed with this?

[2021-05-07 17:08] aanchalrakheja opened #346 "The icons and the placeholder text in the search bar, in the dark mode can be made more clearly visible."
![image](https://user-images.githubusercontent.com/68388581/117484606-f1128a00-af84-11eb-9d0d-6e1aa9aef3d0.png)

[2021-05-07 17:33] noviicee commented on #95
When? 😓

[2021-05-07 19:31] aanchalrakheja commented on #346
would like to work on this issue

[2021-05-09 06:21] PragatiVerma18 commented on #311
Here it is: https://join.slack.com/t/dscjssnoida/shared_invite/zt-pwvteh5z-94iiNn6bpkYek_WFEQtm4g

[2021-05-09 06:23] gayatri517 commented on #340
@ruchikamuddinagiri kindly assign me this issue

[2021-05-09 11:29] anisha1208 opened #348 "Improving the Search Bar"
Hey I am a GSSoC Participant, and I would like to improve the search bar by making the following changes:

1.  Improve the visibility of the icons (calendar and phone) as well as text in the search bar in the dark mode.
2.  Position it in a better way, and modify border radius.
3. Change the existing Background of the search bar to a gradient that fits with the theme.

Kindly assign me the issue.

[2021-05-10 06:56] ShrutiKhatri826 commented on #136
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 07:22] anisha1208 opened #351 "Make the bar responsive"
Fix the search bar so to make it responsive.

[2021-05-10 12:03] prayas7102 commented on #351
This is Prayas Kumar, I am willing work on this frontend issue, using bootstrap.

[2021-05-10 12:07] SamikshaSankar commented on #334
@ruchikamuddinagiri please check my PR

[2021-05-11 06:33] riddhic15 opened #354 "Addition of More Open Source Events"
Hey! I wish to add the following open source events:
1. JWoC
2. Contributors Hack by HackinCodes
3. DevScript Winter of Code
4. Delta Winter of Code

Please assign me this issue. Thank you!

[2021-05-11 07:41] PranavChauhan22 opened #355 "Typewriter effect in header text and a rotating globe animation in header banner"
Is your feature request related to a problem? Please describe.

Its not a problem.Actually when we land on home page it looks static so if we introduce some cool animations it will look great.

Describe the solution you'd like

I want to introduce a typewriter effect in heading which is the highlighted part in image plus a rotating globe animations with less opacity in header banner background.

D

[2021-05-11 16:10] #90 closed

[2021-05-12 04:02] #85 closed

[2021-05-12 04:49] Yunika-Bajracharya opened #358 "Adding the search icon"
The search icon is missing.

**Screenshots**
![image](https://user-images.githubusercontent.com/60802409/117919878-90c97280-b30d-11eb-8d8b-6dd0e0c4ec49.png)

I want to add it like this:
![image](https://user-images.githubusercontent.com/60802409/117998750-e9c3f580-b363-11eb-96a3-1f576e8e3aaf.png)

[2021-05-12 04:50] Yunika-Bajracharya commented on #358
Please assign me this issue under the ggsoc'21 tag.

[2021-05-12 04:59] Yunika-Bajracharya opened #359 "Adding social links"
I want to add:
website link: https://dsc.community.dev/jss-academy-of-technical-education-noida/
discord link: https://discord.com/invite/EBgD52V2hM
telegram link: https://t.me/DSCJSSATEN

Please assign me this issue under the ggsoc'21 tag

[2021-05-12 09:52] #128 closed

[2021-05-12 14:40] rudrakshi99 commented on #359
@Yunika-Bajracharya Go ahead.

[2021-05-13 10:33] #86 closed

[2021-05-13 20:07] Jassi10000 commented on #114
Its been a very long time to this issue , can the maintainers pls assign it that we can contribute

[2021-05-15 06:31] #255 closed

[2021-05-15 08:11] mansijain980 commented on #341
CAn i work on it?

[2021-05-15 08:12] mansijain980 commented on #257
@AkshaySharma008 as it is not solved till now . Please assign this to me .
Thanks.

[2021-05-15 08:14] mansijain980 commented on #175
@PragatiVerma18 Please assign this to me.

[2021-05-15 10:01] #71 closed

[2021-05-15 10:01] #75 closed

[2021-05-15 10:01] #72 closed

[2021-05-15 10:01] #76 closed

[2021-05-15 21:51] #98 closed

[2021-05-15 21:51] #83 closed

[2021-05-16 08:11] gayatri517 commented on #340
@ruchikamuddinagiri @AkshaySharma008 please assign me this issue

[2021-05-16 15:30] Jassi10000 commented on #311
Is that done
or can I also try my hands on this
Assign me if there's no activity on this

[2021-05-16 16:47] K-jais opened #366 "Integration Branch Readme"
Update the Readme for the integration.

[2021-05-16 16:47] K-jais commented on #366
@AkshaySharma008

[2021-05-16 16:49] K-jais opened #367 "Login Signup Functionality"
I will add the login register functionality by using tech stacks like passport packages and MongoDB databases.

[2021-05-16 16:49] K-jais commented on #367
@AkshaySharma008

[2021-05-16 17:08] #81 closed

[2021-05-16 17:09] #62 closed

[2021-05-17 00:14] subhangi2731 opened #369 "Change the navbar to sidebar or navigation drawer"
I will change the navbar to sidebar or navigation drawer

[2021-05-17 00:15] subhangi2731 commented on #369
@rudrakshi99 please assign this issue to me

[2021-05-17 00:17] subhangi2731 opened #370 "Make the code prettier by setting up eslint and linting the code"
I want to setup eslint in the project and lint the code and make it prettier

[2021-05-17 00:17] subhangi2731 commented on #370
@rudrakshi99 please assign this issue to me

[2021-05-17 10:45] K-jais commented on #367
@AkshaySharma008 ..

[2021-05-17 12:43] subhangi2731 commented on #370
@AkshaySharma008 please assign me so that I can start working

[2021-05-17 12:43] subhangi2731 commented on #369
@AkshaySharma008 please assign me so that I can start working

[2021-05-18 11:57] raks924 commented on #348
hey can i work on this issue?

[2021-05-18 11:58] raks924 commented on #322
hey can i work on this issue?

[2021-05-18 11:59] raks924 commented on #310
hey @ruchikamuddinagiri i would love to work on this issue.Kindly assign it to me.

[2021-05-18 12:38] AkshaySharma008 commented on #369
Please show your suggestion in the form of Screenshot or Video

[2021-05-18 12:38] AkshaySharma008 commented on #367
At this moment, it's not needed. We can have it later.

[2021-05-18 19:06] Muskan0 opened #372 "Jiggling of Icons when hovered from left"
I want to improve the user experience. In the video as shown, icons keep on jiggling when hovered by a user, please assign me the issue.

https://user-images.githubusercontent.com/49088492/118708943-fcde3600-b839-11eb-870b-0a4562214985.mp4

[2021-05-19 14:48] #302 closed

[2021-05-20 20:45] #114 closed

[2021-05-20 20:45] #115 closed

[2021-05-20 20:45] #68 closed

[2021-05-20 20:45] #116 closed

[2021-05-20 20:45] #101 closed

[2021-05-20 20:45] #91 closed

[2021-05-20 20:45] #124 closed

[2021-05-20 20:45] #126 closed

[2021-05-20 20:45] #130 closed

[2021-05-20 20:45] #106 closed

[2021-05-20 20:45] #70 closed

[2021-05-20 20:45] #88 closed

[2021-05-21 09:36] AkhileshThite opened #373 "Add Favicon"
GSSoC'21
@AkshaySharma008 @rudrakshi99 , I've created this favicon, which is matching with the website theme. Would like to add this.

![Untitled 001](https://user-images.githubusercontent.com/68826419/119117599-02f53200-ba47-11eb-8a14-18d699a91c31.jpeg)

Looks amazing!
![Screenshot 2021-05-21 at 3 22 05 PM](https://user-images.githubusercontent.com/68826419/119119769-2325f080-ba49-11eb-97c6-9e4a9

[2021-05-21 18:37] Sowmya-Betina commented on #310
hey @ruchikamuddinagiri, can you please assign this to me

[2021-05-21 18:38] Sowmya-Betina opened #374 "adding time clock"
I would like add a timer and clock to make this more feasible and easy to use

[2021-05-22 09:37] AkshaySharma008 commented on #374
Please describe your Idea with some Images or Illustrations. Or explain it clearly.

[2021-05-22 12:56] Sowmya-Betina commented on #374
![Capture](https://user-images.githubusercontent.com/67799074/119227337-fd711800-bb2a-11eb-8880-2fcdb23cc0d8.PNG)

I would like to add a clock to the homepage using HTML functions and time modules for much more easy use

[2021-05-23 07:33] arushitrivedi opened #375 "Adding an Open Source Event"
Hi @AkshaySharma008  I wish to add Open Summer of Code.

Please assign me this issue. Thank you!

[2021-05-23 16:57] #63 closed

[2021-05-23 17:57] #132 closed

[2021-05-23 17:57] #127 closed

[2021-05-23 17:57] #111 closed

[2021-05-23 17:57] #103 closed

[2021-05-24 04:57] #358 closed

[2021-05-24 04:58] #373 closed

[2021-05-24 07:20] subhangi2731 commented on #195
@AkshaySharma008 can u please assign me tgis

[2021-05-24 07:21] subhangi2731 commented on #191
@AkshaySharma008 please assign me this

[2021-05-24 07:22] subhangi2731 commented on #216
@AkshaySharma008 please assign me this

[2021-05-24 08:01] adysis14 commented on #322
Hey! I'm interested in solving this issue . I would be very grateful if you assign this iisue to me under GSSOC'21

Thank You!

[2021-05-24 08:02] adysis14 commented on #351
Hey! I'm interested in solving this issue . I would be very grateful if you assign this iisue to me under GSSOC'21

Thank You!

[2021-05-24 08:03] adysis14 commented on #311
Hey! I'm interested in solving this issue . I would be very grateful if you assign this iisue to me under GSSOC'21

Thank You!

[2021-05-24 12:27] #318 closed

[2021-05-24 12:28] #338 closed

[2021-05-24 13:50] osamamagdy commented on #195
@AkshaySharma008 I created a pull request that will close this issue like more than Month ago but no one reviewed it

[2021-05-25 03:36] #370 closed

[2021-05-25 17:44] mrunal512 commented on #354
Please assign me this issue @AkshaySharma008 !

[2021-05-25 18:48] MonalikaKapoor opened #381 "Minor Changes in About"
**Describe the bug**
There are small 5 to 6 grammatical errors in the about section.

Please assign this issue to me.

[2021-05-25 18:49] MonalikaKapoor commented on #381
#assign

[2021-05-25 19:46] MonalikaKapoor commented on #381
/assign

[2021-05-26 07:14] arushitrivedi commented on #375
fixed #375

[2021-05-26 07:27] arushitrivedi commented on #375
Sorry sir issue got closed by mistake....reopening it
Should I add the files again

[2021-05-26 14:23] #374 closed

[2021-05-26 17:46] poornimarathaur opened #383 "Some of the events redirecting link not working"
Events those redirecting link is not working:
1. NWOC
2. KWOC
3. Hyperledger Mentorship Program

Please assign me this issue, Thank you!

[2021-05-27 06:28] #359 closed

[2021-05-27 07:30] subhangi2731 opened #384 "Documentation on the process of setting up eslint and making the code prettier and adding inline support JS to ESlint"
I will write the steps in the documentation of setting up eslint and linting the code and then add inline JS support to eslint

[2021-05-27 07:30] subhangi2731 commented on #384
@AkshaySharma008 please assign this issue to me

[2021-05-27 15:25] kumarishalini6 opened #385 "Navbar and icons are overlapping"
The navbar and the social media icons are overlapping . i want to work on this issue under GSSoC'21.
![Foss Events - Personal - Microsoft​ Edge 5_27_2021 08_52_18 PM](https://user-images.githubusercontent.com/69043944/119853408-a7023180-bebc-11eb-890a-10f9417ac5b6.png)

[2021-05-27 15:30] kumarishalini6 opened #386 "Adding Home page"
Before about us section i want to add home page .
can i work on this issue under GSSoC'21.

[2021-05-27 15:32] kumarishalini6 opened #387 "Improving about us section"
I want to improve about us section by giving some images that attract eyes.
Can i work on this issue under GSSoC'21.

[2021-05-27 21:29] #137 closed

[2021-05-27 21:29] #153 closed

[2021-05-27 21:29] #188 closed

[2021-05-27 21:29] #141 closed

[2021-05-27 21:29] #152 closed

[2021-05-27 21:29] #140 closed

[2021-05-27 21:29] #167 closed

[2021-05-27 21:29] #73 closed

[2021-05-28 05:37] AkshaySharma008 commented on #386
This is not needed at this moment.

[2021-05-28 06:12] kumarishalini6 commented on #386
ok

[2021-05-28 06:12] #386 closed

[2021-05-28 14:38] kumarishalini6 commented on #387
Merged

[2021-05-28 14:38] #387 closed

[2021-05-28 14:38] kumarishalini6 commented on #385
Merged

[2021-05-28 14:38] #385 closed

[2021-05-28 14:56] kumarishalini6 opened #391 "improving event card"
The event card is so simple can i improve the card by giving the other hover effect and adding images.
@AkshaySharma008  please this issue to me.

[2021-05-29 18:55] MonalikaKapoor opened #395 "Add Logos of all the open source organizations in their container"
**Is your feature request related to a problem? Please describe.**
I believe adding logos will make it look better and colorful!

I would like to work on the same!

[2021-05-29 19:38] MonalikaKapoor opened #396 "Add an event ICFOSS organized by Govt of Kerala"
**Is your feature request related to a problem? Please describe.**
A new event can be added.

**Describe the solution you'd like**
ICFOSS is a flagship programme of the Government of Kerala towards the promotion, innovation and propagation of FOSS initiatives across the State. Applications are invited from  Graduates to encourage young talents having interest in the new initiatives of FOSS, by eng

[2021-05-29 19:52] hritikgupta92 opened #398 "Adding information about Open Summer of Code in events.json"
Open Summer of code is open source program  where you get to work on numerous projects for a months and you get paid on monthly basis for that.

[2021-05-29 20:02] hritikgupta92 opened #399 "Error in KWOC"
**Describe the bug**
On clicking the more  information button,the link to the site is not working.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Events
2. Go to Kwoc event box.
3. Click on more information
4. See error

**Expected behavior**
Should redirect to the site of kwoc.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.

[2021-05-30 10:34] Sukriti-sood opened #400 "Fix Search Bar"
Search Bar Should be Fix for good User Experience

![Foss Events](https://user-images.githubusercontent.com/55010599/120100869-b1445a00-c160-11eb-85c1-95a41d3a24c4.png)

[2021-05-30 10:37] Sukriti-sood opened #401 "Github Bot Feature"
Github Bot Will COmment on Every PR Open and PR merged

[2021-05-30 11:13] hritikgupta92 commented on #399
@AkshaySharma008  please assign this  issue to me

[2021-05-30 12:32] #161 closed

[2021-05-30 12:32] #200 closed

[2021-05-30 12:54] hritikgupta92 commented on #398
@AkshaySharma008  please assign this to me

[2021-05-31 03:52] #66 closed

[2021-05-31 03:52] #135 closed

[2021-05-31 08:59] #399 closed

[2021-05-31 13:06] hritikgupta92 opened #404 "Error in more information button of Hyperledger Mentorship program box"
**Describe the bug**
On clicking the more information button,the link to the site is not working.

**To Reproduce**
Steps to reproduce the behavior:

1.Go to Events
2.Go to Kwoc event box.
3.Click on more information
4.See error

**Expected behavior**
Should redirect to the site of Hyperledger Mentorship Program

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image]

[2021-06-01 09:11] #398 closed

[2021-06-01 09:13] #391 closed

[2021-06-04 02:19] #166 closed

[2021-06-04 02:19] #109 closed

[2021-06-04 02:19] #212 closed

[2021-06-04 02:19] #202 closed

[2021-06-04 02:19] #213 closed

[2021-06-04 02:19] #118 closed

[2021-06-04 02:19] #121 closed

[2021-06-04 02:19] #236 closed

[2021-06-04 02:19] #235 closed

[2021-06-04 02:19] #220 closed

[2021-06-06 13:54] #254 closed

[2021-06-11 20:59] #274 closed

[2021-06-12 10:49] #285 closed

[2021-06-12 13:59] #286 closed

[2021-06-13 14:01] #288 closed

[2021-06-13 14:01] #232 closed

[2021-06-15 17:17] #123 closed

[2021-06-16 12:44] #228 closed

[2021-06-19 11:45] #268 closed

[2021-06-19 11:45] #300 closed

[2021-06-20 18:13] #269 closed

[2021-06-21 15:42] #290 closed

[2021-06-23 20:26] #314 closed

[2021-06-24 12:24] #287 closed

[2021-07-05 12:13] #327 closed

[2021-07-05 12:13] #324 closed

[2021-07-07 07:27] #259 closed

[2021-07-08 11:49] #284 closed

[2021-07-09 17:05] #273 closed

[2021-07-10 19:20] #205 closed

[2021-07-10 19:20] #336 closed

[2021-07-10 19:20] #292 closed

[2021-07-13 23:36] #346 closed

[2021-07-13 23:36] #95 closed

[2021-07-16 10:13] #136 closed

[2021-07-17 12:55] #355 closed

[2021-07-19 06:34] #113 closed

[2021-07-21 12:27] #341 closed

[2021-07-21 12:27] #257 closed

[2021-07-21 12:27] #175 closed

[2021-07-22 09:55] #340 closed

[2021-07-22 20:36] #366 closed

[2021-07-24 11:58] #334 closed

[2021-07-24 12:58] #348 closed

[2021-07-24 12:58] #369 closed

[2021-07-24 12:58] #367 closed

[2021-07-27 20:55] #310 closed

[2021-07-30 14:51] #195 closed

[2021-07-30 14:51] #372 closed

[2021-07-30 14:51] #191 closed

[2021-07-30 14:51] #216 closed

[2021-07-30 14:51] #322 closed

[2021-07-30 14:51] #351 closed

[2021-07-30 14:51] #311 closed

[2021-07-31 19:40] #354 closed

[2021-08-01 01:37] #381 closed

[2021-08-01 12:52] #375 closed

[2021-08-02 12:36] #384 closed

[2021-08-02 22:02] #383 closed

[2021-08-04 20:58] #395 closed

[2021-08-04 20:58] #396 closed

[2021-08-05 13:38] #400 closed

[2021-08-05 13:38] #401 closed

[2021-08-06 15:39] #404 closed

[2021-08-17 18:40] aman34503 opened #406 "update event.json"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-08-17 18:40] #406 closed

[2021-09-15 06:31] AaquibAli opened #412 "Issue regarding PR"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

// This issue is regarding my PR which is not merged yet. Is there any error in my PR please give your responses

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you

[2021-11-21 21:37] #412 closed